@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}


:root {
    --header-height: 4rem;
    /* for search */
    --filter-accent: #43a84366;
    --filter-accent1: #43a843;
    --accent-orange: hsla(21, 76%, 55%, 100%);
}


/* HEADER */

header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: sticky;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* searchbar */
.nickname-search-box {
    width: 100%;
    max-width: 20rem;
    height: 100%;

    background-color: #060E18;
    position: relative;

    margin-right: 2rem;
}
.nickname-search-box svg {
    fill: #647389;

    position: absolute;
    top: 50%;
    left: 5px;
    
    transform: translateY(-50%);
    transition: all 0.2s linear;
    
    cursor: pointer;
}
.nickname-search-box svg:hover {
    fill: #fff;
}

.nickname-search {
    padding: 0 2rem;

    width: 100%;
    height: 100%;
    
    color: #fff;
    background-color: transparent;

    border: none;
    outline: none;

}
.nickname-search::placeholder {
    color: #647389;
}


/* Header media */
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* sub-header */
.sub-header {
    width: 100%;
    height: 8.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 11.6vw;

    background-color: #fff;
}

.sub-header-title {
    font-weight: 700;
    font-size: 1.53rem;

    text-transform: uppercase;
    color: #151515;
}
.sub-header-title span {
    margin: 0 2rem 0 0.5rem;
    font-size: 1.53rem;
    text-transform: none;
    color: #151515;
}


/* for filtering */
.-visible {
    background-color: var(--filter-accent) !important;
}
.-hidden {
    display: none !important;
}


  
/* REPORT Table */
.report-table {
    width: 100%;
}
.-table-header {
    width: 100%;
    height: 3rem;

    display: flex;
    flex-wrap: nowrap;

    position: sticky;
    top: calc(var(--header-height) - 1px);
    margin-bottom: 1.73rem;

    z-index: 10;
}

.-left-header-color {
    background-color: #E8E8E8 !important;
    color: #3C3C3C !important;
}
.-right-header-color {
    background-color: #F27878 !important;
    color: #fff !important;
}

.-table-header * {
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 500 !important;
    font-size: 0.87rem !important;
    text-transform: none !important;

    cursor: default !important;
}

.-table-header .-absenceSolid {
    padding-left: 1rem;
    border-left: 5px solid #fff;
}
  
.table-row {
    width: 100%;
    height: 2.4rem;

    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    
    border-bottom: 1px solid #E8E8E8;
    transition: all 0.25s linear;
}

.cell {
    width: 4%;
    display: inline-flex;
    white-space: nowrap;
    overflow-x: hidden;
}


/* Columns */
.-student {
    padding-left: 1.4rem;
    width: 36%;
    justify-content: space-between;
}

.-fullName,
.-studentModal {
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: underline;
    color: #4377B5;

    white-space: nowrap;
    overflow-x: hidden;

    cursor: pointer;
}
.-studentModal {
    padding-left: 1.4rem;
    display: none;
}

.student-contacts {
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.student-contacts a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.-phone svg {
    stroke: #ABABAB;
    margin-right: 0.8rem;
    transition: all 0.2s linear;
}
.-phone svg:hover {
    stroke: #282828;
}

.-email svg {
    fill: #ABABAB;
    margin-right: 1rem;
    transition: all 0.2s linear;
}
.-email svg:hover {
    fill: #282828;
}

/* hidden tel & email menu */
.hidden-menu {
    display: none;

    position: absolute;

    padding: 0 1rem;
    width: fit-content;
    min-width: 14rem;
    height: 2.4rem;

    align-items: center;
    justify-content: center;

    background: #3789EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    transition: all 0.2s linear;
}

.hidden-menu span,
.hidden-menu a {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;

    transition: all 0.2s linear;
}

.hidden-menu a {
    margin-left: 0.8rem;
    padding: 3px 11px;

    font-weight: 600;
    font-size: 0.8rem;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
.hidden-menu a:hover {
    background-color: #fff;
    color: #3789EB;
}


.-phone-box:hover > .hidden-menu,
.-email-box:hover > .hidden-menu {
    display: inline-flex;
}


.-key {
    width: 8%;
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
}
.-location {
    width: 16%;
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
}


.-balance {
    width: 12%;
    font-weight: 600;
    font-size: 0.8rem;
    color: #F27878;
}
.-no-balance {
    font-weight: 500;
    font-size: 0.8rem;
    color: #ABABAB;
}


.-TTT {
    width: 8%;
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
}

.-tuitionStartDate,
.-lastVisitedDate,
.-lastSessionDate {
    width: 14%;
    font-weight: 500;
    font-size: 0.8rem;
    color: #8D8D8D;
}


.-tuitionDuration,
.-totalClocks {
    width: 11%;
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;

    cursor: default;
}

.-long-duration {
    color: #F27878;
}

.-absenceSolid {
    padding-left: 0.5rem;
    width: 20%;
    font-weight: 600;
    font-size: 0.8rem;
    color: #F27878;
}

.-monthClocks {
    width: 12%;
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
    text-align: center;
    justify-content: center;
}

.-attention-was-learning {
    color: #F27878;
    cursor: pointer;
}
.-ignor-wasnot-learning {
    color: #8D8D8D;
}

footer {
    height: 5rem;
}


/* modalWindow */
.modalWindow {
    position: fixed;

    top: var(--header-height);
    left: 0;

    padding: 0 5%;
    width: 100%;

    height: 100%;
    min-height: 100vh;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    z-index: 100;
    transition: all 0.3s linear;
}
#student-name {
    margin: 3rem 0;
    width: fit-content;

    display: block;
    font-weight: 700;
    font-size: 1.53rem;
    line-height: 2.47rem;
    text-transform: capitalize;

    color: #4377B5;
}
.student-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#phone-href, #email-href {
    text-decoration: none;
    display: inline-flex;
    margin-bottom: 3rem;
}
#phone, #email {
    font-weight: 500;
    font-size: 0.87rem;
    text-decoration-line: underline;

    color: #4377B5;
}
.info-header {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2rem;
    color: #8D8D8D;
}
.info-text {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2rem;
    color: #3C3C3C;
}

#balance {
    font-weight: 700;
    color: #F27878;
}
#balance[data-value="0"] {
    font-weight: 500;
    color: #3C3C3C;
}

#total-absence {
    font-weight: 700;
    margin: 3rem 0;
}
#absence {
    font-weight: 700;
    color: #F27878;
    margin: 3rem 0;
}
#visited {
    margin-bottom: 2rem;
}

#month1[data-value="0"],
#month2[data-value="0"],
#month3[data-value="0"] {
    font-weight: 700;
    color: #F27878;
}


/* General medai requests */

@media (max-width: 1195px) {
    .-tuitionDuration {
        display: none;
    }
}
@media (max-width: 1050px) {
    .-tuitionStartDate,
    .-lastVisitedDate {
        display: none;
    }
}
@media (max-width: 950px) {
    .-key, .-TTT, .-totalClocks {
        display: none;
    }
    .-absenceSolid {
        width: 15%;
        white-space: unset;
    }
}
@media (max-width: 850px) {
    .-lastSessionDate {
        display: none;
    }
}
@media (max-width: 750px) {
    .mnth1 {
        display: none;
    }
}
@media (max-width: 650px) {
    .mnth2 {
        display: none;
    }
    .-absenceSolid {
        width: 20%;
    }
    .-student {
        width: 40%;
    }
}
@media (max-width: 500px) {
    .mnth3 {
        display: none;
    }
    .-absenceSolid {
        width: 25%;
    }

    .-student, .-studentModal {
        width: 42%;
    }
    .table-row .-student {
        display: none;
    }
    .table-row .-studentModal {
        display: inline-flex;
    }


    .student-contacts {
        display: none;
    }
    .-location {
        width: 20%;
    }
    .-balance {
        width: 14%;
    }
}
@media (max-width: 435px) {
    .sub-header {
        padding-left: 1.2rem;
    }
    .-location {
        display: none;
    }
    .-student {
        width: 50%;
    }
    .-balance {
        width: 20%;
    }
    .-absenceSolid {
        width: 30%;
    }
}
@media (max-width: 375px) {
    :root {
        font-size: 14px;
    }
}