@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

html, body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: -moz-linear-gradient(156.28deg, #4FAAFF 5.36%, #A2E3FF 94.44%);
    background: -o-linear-gradient(156.28deg, #4FAAFF 5.36%, #A2E3FF 94.44%);
    background: linear-gradient(156.28deg, #4FAAFF 5.36%, #A2E3FF 94.44%);

    position: relative;
    z-index: 0;
}

.fmcsa-text {
    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    font-weight: 900;
    font-size: 25vw;
    text-align: center;

    color: #FFFFFF;

    opacity: 0.15;
    z-index: 1;
}

.main-box {
    margin: 0 auto;
    padding: 1rem 0;

    width: 95%;
    max-width: 1070px;

    position: relative;
    z-index: 2;
}

.main-title {
    font-weight: 700;
    font-size: 1.33rem;
    text-align: center;
    text-transform: uppercase;

    color: #233D62;

    margin-bottom: 1rem;
}
.title-type {
    margin-right: 0.35rem;

    font-weight: inherit;
    font-size: inherit;
    text-transform: uppercase;

    color: #FFFFFF;
}

.credentials-form {
    width: 100%;
}

.subtitle {
    margin: 0 auto 3rem auto;
    width: 100%;
    max-width: 770px;

    font-weight: 600;
    font-size: 0.87rem;
    line-height: 1.07rem;
    text-align: center;

    color: #233D62;
}
.subtitle strong {
    font-weight: inherit;
    font-size: inherit;
    margin-left: 0.5rem;
    color: #fff;
}
small {
    display: block;
    max-width: 20rem;

    font-weight: 500;
    font-size: 0.83rem;
    line-height: 1.07rem;
    text-align: justify;

    color: #233D62;
}

.item-box {
    margin: 0.5rem 0;
    width: 100%;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.item-box label {
    font-weight: 600;
    font-size: 0.87rem;
    line-height: 1.07rem;

    color: #233D62;
}
.item-box strong {
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.07rem;

    color: #0F1C2F;
}

.item-box:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid #a2e3ff87;
}

textarea, input {
    padding: 0.5rem;

    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.07rem;

    outline: none;
    border: none;
    border-radius: 3px 3px 0 0;

    transform: translateY(1px);
    border-bottom: 1px solid #398de6;

    transition: all 0.2s linear;
}

textarea:focus, input:focus {
    border-bottom: 1px solid #233D62;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    width: 550px;
    height: 200px;
    
    resize: none;
}

input {
    width: 350px;

    text-align: center;

    color: #0F1C2F;
}

.button-box {
    margin: 2rem auto 3rem auto;
    width: 95%;
    max-width: 36.6rem;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn {
    width: 16.67rem;
    height: 3.33rem;

    font-weight: 700;
    font-size: 1.33rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    color: #233D62;

    background-color: #ebebeb;

    border: none;
    outline: none;
    border-radius: 2.4rem;

    transition: all 0.2s linear;

    cursor: pointer;

}

.btn:hover {
    background-color: #dfdfdf;
}

.-submit {
    color: #FFFFFF;
    background-color: #233D62;
}
.-submit:hover {
    background-color: #122238;
}

.item-box a {
    font-weight: 500;
    font-size: 0.87rem;
    text-decoration: underline;

    color: #233D62;

    align-self: flex-end;
}

.-issue {
    background-color: #ffe4f1;
}

.-inactive {
    background-color: #f1f1f1 !important;
    color: #a9a9a9 !important;
    cursor: default;
}

textarea.-inactive,
input.-inactive {
    border-bottom: 1px solid #a9a9a9;
}

@media (max-width: 935px) {
    .-cert-item {
        flex-direction: column;
        border: none !important;
    }
    .-cert-item small {
        max-width: unset;
    }
    .-cert-item textarea {
        width: 100%;
    }
}
@media (max-width: 650px) {
    .item-box {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 0.5rem;
    }
    .item-box input {
        align-self: flex-end;
    }
    .item-box:nth-last-of-type(1) {
        align-items: center;
        justify-content: center;
    }
    .item-box a {
        position: absolute;
        bottom: -1rem;
    }
}
@media (max-width: 350px) {
    :root {
        font-size: 14px;
    }
    .item-box input {
        width: 100%;
    }
}