@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}


:root {
    --header-height: 4rem;
    --titles-row-height: 3rem;
    --filter-accent: #43a84366;
}


/* HEADER */

header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: sticky;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* Header media */
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* sub-header */
.sub-header {
    width: 100%;
    height: 8.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 11.6vw;

    background-color: #fff;
}

.ins-title {
    font-weight: 700;
    font-size: 1.53rem;

    text-transform: uppercase;
    color: #151515;
}
.ins-title span {
    margin: 0 2rem 0 0.5rem;
    font-size: 1.53rem;
    text-transform: none;
    color: #151515;
}

#clocked-as-of {
    padding: 0 1.47rem;
    width: 10.5rem;
    height: 3.33rem;

    font-weight: 500;
    font-size: 1rem;
    color: #151515;

    border: 1px solid #DEDEDE;
    border-radius: 2rem;

    outline: none;

    transition: all 0.2s linear;
}
#clocked-as-of:hover {
    background-color: #F3F3F3;
}


/* BOX Elements */
.ins-list-box {
    width: 100%;
}


/* Table headers */
.fixed-headers-row {
    height: var(--titles-row-height);
    width: 100%;
    
    display: flex;
    flex-wrap: nowrap;

    position: sticky;
    top: calc(var(--header-height) - 1px);
    z-index: 2;

    margin-bottom: 1.73rem;
}
.-header {
    height: 100%;
    
    font-weight: 500 !important;
    font-size: 0.87rem !important;
    text-align: center !important;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: default;
}


/* Table headers colors */
.-left-color-group,
.-scoring-color-group {
    background-color: #E8E8E8;
    color: #3C3C3C;
}
.-clock-color-group {
    background-color: #3789EB;
    color: #fff;
}
.-presentStatus.-header {
    border-left: 5px solid #fff;
}


/* Table ROWS */
.student-list-row {
    width: 100%;
    height: 2.4rem;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    border-bottom: 1px solid #E8E8E8;
}


.field {
    width: 10%;
}

.-name {
    width: 20%;
}
a.-name {
    padding-left: 1.2rem;

    font-weight: 500;
    font-size: 1rem;
    color: #4377B5;
    text-transform: capitalize;
}

.-key, .-location span {
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
    text-align: center;
    cursor: default;
}
.-location {
    text-align: center;
}

.-TTT {
    font-weight: 700;
    font-size: 0.8rem;
    color: #151515;
    text-align: center;
    cursor: default;
}


/* Scorings */
.-incab-scoring, .-outcab-scoring,
.-backing-scoring, .-city-scoring {
    cursor: default;
}
.-incab-scoring button, .-outcab-scoring button,
.-backing-scoring button, .-city-scoring button {
    all: unset;

    width: 100%;
    height: 100%;

    border: none;
    background: transparent;
    text-align: center;

    cursor: pointer;
}
.-bigMsg, .-smallMsg {
    font-weight: 500;
    font-size: 0.8rem;
    color: #8D8D8D;
}


/* Status */
.-presentStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.-presentStatus-in {
    width: 1.33rem;
    height: 1.33rem;

    background: #A2D092;
    border-radius: 100%;
}
.-presentStatus-out {
    width: 1.33rem;
    height: 1.33rem;

    background: #E8E8E8;
    border-radius: 100%;
}


/* Clocks */
.-in, .-out {
    text-align: center;
}
.-in span, .-out span {
    font-weight: 500;
    font-size: 0.8rem;
}




.-not-present {
    background-color: #f5f5f5 !important;
}
.-not-active {
    color: #acacac !important;
    cursor: not-allowed !important;
}



footer, .empty-list {
    width: 95%;
    margin: 3rem auto;
}
.empty-list {
    font-size: 2rem;
}
.-smallMsg {
    display: none;
}




@media (max-width: 1135px) {
    .-bigMsg {
        display: none;
    }
    .-smallMsg {
        display: block;
    }
}
@media (max-width: 850px) {
    .-TTT, .-clocks {
        display: none;
    }
    .-name {
        width: 30%;
        white-space: nowrap;
        overflow-x: hidden;
    }
}
@media (max-width: 650px) {
    .-key {
        display: none;
    }
    .-location {
        width: 15%;
    }
    .-incab-scoring, .-outcab-scoring,
    .-backing-scoring, .-city-scoring {
        width: 12%;
    }
}
@media (max-width: 550px) {
    .-presentStatus {
        display: none;
    }
    .-location {
        width: 17%;
    }
    .-incab-scoring, .-outcab-scoring,
    .-backing-scoring, .-city-scoring {
        width: 14%;
    }
}
@media (max-width: 500px) {
    .-location {
        display: none;
    }
    .-name {
        width: 40%;
    }
    .-incab-scoring, .-outcab-scoring,
    .-backing-scoring, .-city-scoring {
        width: 15%;
    }
}
@media (max-width: 435px) {
    .-header {
        font-size: 0.75rem !important;
    }
}

a[href^="http:"] {
    color: #4377B5;
}