@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #151515;
}


/*

Format	Size in Inches	Size in Millimeters     Pixels
Letter	8.5 × 11	    216 × 279               816.5 × 1054.5
Legal	8.5 × 14	    216 × 356               816.5 × 1345.5

*/


:root {
    --LETTERw: 816.5px;
    --LETTERh: 1054.5px;

    --width: calc( (var(--LETTERw) / 5) - 3px);     /* 2px right and bottom margins */
    --space: 24px;
}


/* BULK QR CODES PRINTING */

.qr-bulk-print-box {
    margin: 0 auto;

    width: var(--LETTERw);
    /* min-height: var(--LETTERh); */

    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: left;

    /* border: 1px solid red; */
}



.qr-card {
    margin: 0 2px 2px 0;
    width: var(--width);
    height: calc(2 * var(--width) + 7px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background-image: url("/static/images/logo-gray.png");
    background-repeat: no-repeat;
    background-position: center;

    border-radius: calc(var(--width) / 26);
    border: 1px solid #cecece;
}


.qr-code {
    --qr-width: calc(var(--width) - 6px);

    width: var(--qr-width);
    height: var(--qr-width);

    border-radius: calc(var(--space)  / 6);
    overflow: hidden;

    position: relative;
}
.qr-code::after {
    content: "";

    background-image: url('/static/images/logo15-32.png');
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    inset: 0;
    
    opacity: 0.975;
}
.qr-code::before {
    --grad-col1: #FF6C17;
    --grad-col2: #0F1C2F;

    content: "";

    position: absolute;
    inset: 0;

    background: -webkit-linear-gradient(135deg, var(--grad-col1), var(--grad-col2));
    background: -moz-linear-gradient(135deg, var(--grad-col1), var(--grad-col2));
    background: linear-gradient(135deg, var(--grad-col1), var(--grad-col2));
    background-color: var(--grad-col1);
}


.qr-card-title {
    padding-top: calc(var(--space) / 2);

    font-size: calc(var(--space) * 1.5);
    line-height: calc(var(--space) + 10px);
    
    letter-spacing: -3px;
    color: #151515;
}
.qr-card-title-line {
    width: 85%;
    border-bottom: 1px solid #AAAAAA;
}
.qr-card-subtitle {
    font-size: calc(var(--space) / 1.5);
    letter-spacing: -1.3px;
    color: #AAAAAA;
}
.qr-card-name {
    padding-top: calc(var(--space) / 1.6);
    padding-bottom: calc(var(--space) / 2);

    font-weight: 700;
    font-size: calc(var(--space) / 2);
    text-transform: capitalize;
}
.qr-card-key {
    font-size: calc(var(--space) * 1.5);
}
.qr-card-class {
    font-size: calc(var(--space) / 3);
    margin-bottom: calc(var(--space) / 3);
}


.qr-code-img {
    margin-top: calc( -1 * var(--space)*0.5);
    margin-left: calc( -1 * var(--space)*0.5);
        
    mix-blend-mode: lighten;
}