@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

:root {
    --header-height: 4rem;
    --accent-col1: #1d1e3d;
    --accent-col2: #2c314a;
    --accent-col3: #2c314a47;
}

body, html {
    width: 100%;
    min-height: 100vh;
    background-color: #0F1C2F;
}


/* HEADER */
header, .dummy {
    width: 100%;
    height: var(--header-height);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: fixed;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* searchbar */
.nickname-search-box {
    width: 100%;
    max-width: 20rem;
    height: 100%;

    background-color: #060E18;
    position: relative;

    margin-right: 2rem;
}
.nickname-search-box svg {
    fill: #647389;

    position: absolute;
    top: 50%;
    left: 5px;
    
    transform: translateY(-50%);
    transition: all 0.2s linear;
    
    cursor: pointer;
}
.nickname-search-box svg:hover {
    fill: #fff;
}

.nickname-search {
    padding: 0 2rem;

    width: 100%;
    height: 100%;
    
    color: #fff;
    background-color: transparent;

    border: none;
    outline: none;
}
.nickname-search::placeholder {
    color: #647389;
}


/* Header media */
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* sub-header */
.sub-header {
    padding: 0 11.6vw;

    width: 100%;
    max-width: 100vw;
    height: 8.73rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    transition: all 0.2s linear;

    position: sticky;
    left: 0;
}

.sub-header-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sub-header-right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-header-title {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 1.53rem;

    text-transform: uppercase;
    color: #151515;
}
.sub-header-title span {
    margin: 0 0.5rem;

    font-weight: 500;
    font-size: 1.53rem;

    text-transform: none;
    color: #151515;
}


.back-to-link {
    margin-left: 1rem;

    font-weight: 500;
    font-size: 1rem;
    color: #4377B5;
}

.calendar-year-title,
.calendar-month-title {
    display: none;
}

#calendar-date {
    padding: 0 1.5rem;
    width: 10.47rem;
    height: 3.33rem;

    font-weight: 500;
    font-size: 1rem;
    color: #151515;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2rem;
}

#reload-calendar {
    margin-left: 1rem;

    width: 3.33rem;
    height: 3.33rem;

    min-width: 3.33rem;
    min-height: 3.33rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2rem;
}


/* CALENDAR BODY */

.-headers {
    /* backup dummy layer, for scrolling */
    background-color: #0F1C2F;

    position: sticky;
    top: var(--header-height);
    z-index: 2;
}

.-headers .calendar-student-name,
.-headers .calendar-cell {
    background-color: #172237 !important;
}



.calendar-box {
    width: 100%;
    display: block;

    padding-right: 5px;
    margin-bottom: 3rem;
}

.calendar-row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

@keyframes appear {
    from { opacity: 0; transform: translateX(-7px); }
    to { opacity: 1; transform: translateX(0); }
}
.calendar-cell {
    --d: 100ms;

    margin: 0 1px;
    padding: 0.65rem 0;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-col3);

    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: var(--d);

    /* animation: appear 0.5s linear var(--d); */
}

.calendar-student-name {
    padding: 0 3px;
    flex: 1.5;
    align-items: flex-start;
    position: relative;
}
.-headers .calendar-cell:not(.calendar-student-name) {
    border-radius: 5px 5px 0 0;
}

.-headers .-today {
    background-color: #43a84338 !important;
}

.calendar-date {
    letter-spacing: 0.5px;
    font-size: 0.93rem;
    font-weight: 600;
    color: #fff;
}
.calendar-day {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    opacity: 0.85;
}

.-weekend {
    color: wheat;
}
.-monday {
    color: #43a843;
}

.short-name {
    padding: 0.35rem 0.3rem;
    width: 2.2rem;

    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    border: 1px solid var(--accent-col2);
    border-radius: 1rem;
    cursor: pointer;
    
    transition: all 0.3s linear;
}
.-highlight {
    background-color: #22a97278;
}

.full-name {
    --col1: #161737;
    --col2: transparent;

    padding: 3px;
    min-width: 10rem;

    position: absolute;
    top: 0; left: 2.15rem;

    font-size: 0.6rem;
    white-space: nowrap;
    text-transform: capitalize;
    letter-spacing: 0.6px;
    color: #f5deb3;

    background: var(--col1);
    background: -o-linear-gradient(90deg, var(--col1), var(--col2));
    background: -moz-linear-gradient(90deg, var(--col1), var(--col2));
    background: -webkit-linear-gradient(90deg, var(--col1), var(--col2));
    background: linear-gradient(90deg, var(--col1), var(--col2));

    z-index: 1;
}

/* Spots */
.-occupied-spot {
    --c: lightgray;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c);
    box-shadow: 0 0 8px 0px var(--c);
    border-radius: 2px;

    cursor: pointer;

    position: relative;
}
.-occupied-spot span {
    letter-spacing: 0.8px;
    font-size: 0.87rem;
    color:#2f315e;
}


.-occupied-spot-to-delete {
    --c: red !important;
}
.-occupied-spot-to-updateStatus {
    --c: yellow !important;
}

.tool-bar {
    padding: 1px 2px;
    display: none;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -1.1em; right: -0.8em;
    
    color: #fff;
    background-color: #333333bf;
    border-radius: 2px;

    transition: all 0.25s linear;
}

.-occupied-spot:hover {
    z-index: 10;
}
.-occupied-spot:hover .tool-bar {
    display: inline-flex;
    z-index: 100;
}

.-tool-btn {
    margin: 1px;
    
    width: 1rem;
    height: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.73rem;

    transition: all 0.2s linear;
}
.-tool-btn:hover {
    transform: translateY(-1px);
}

.delete-btn {
    fill: #f38a8ad6;
}
.graduate-btn {
    color: greenyellow;
    border: 1px solid greenyellow;
}
.withdraw-btn {
    color: #fbdbcf;
    border: 1px solid #fbdbcf;
}