@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

:root {
    --header-height: 4rem;
    --titles-row-height: 2.2rem;

    /* fixed rows width */
    --lastname-fixed-col-width: 10rem;
    --name-fixed-col-width: 9rem;
    --key-fixed-col-width: 3.5rem;
    --TTT-fixed-col-width: 5rem;
    --balance-fixed-col-width: 5rem;
    
    /* deltas */
    /* fixed2 delta from fixed1 */
    --delta1: var(--lastname-fixed-col-width);
    /* fixed3 delta from fixed2 */
    --delta2: calc(var(--delta1) + var(--name-fixed-col-width));
    /* fixed4 delta from fixed3 */
    --delta3: calc(var(--delta2) + var(--key-fixed-col-width));
    /* fixed5 delta from fixed4 */
    --delta4: calc(var(--delta3) + var(--TTT-fixed-col-width));

    --accent-bad: #F27878;
    /* for search */
    --filter-accent: #43a843;
}


/* HEADER */
header, .dummy {
    width: 100%;
    height: var(--header-height);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: fixed;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* searchbar */
.nickname-search-box {
    width: 100%;
    max-width: 20rem;
    height: 100%;

    background-color: #060E18;
    position: relative;

    margin-right: 2rem;
}
.nickname-search-box svg {
    fill: #647389;

    position: absolute;
    top: 50%;
    left: 5px;
    
    transform: translateY(-50%);
    transition: all 0.2s linear;
    
    cursor: pointer;
}
.nickname-search-box svg:hover {
    fill: #fff;
}

.nickname-search {
    padding: 0 2rem;

    width: 100%;
    height: 100%;
    
    color: #fff;
    background-color: transparent;

    border: none;
    outline: none;

}
.nickname-search::placeholder {
    color: #647389;
}


/* Location and Status selects */
#locationSelect,
#enrollmentStatusSelect {
    max-width: 10rem;
    height: 3.33rem;

    padding: 0 1rem;
    
    font-size: 1rem;
    color: #151515;

    background-color: #FFFFFF;

    border: 1px solid #DEDEDE;
    border-radius: 2.4rem;
    outline: unset;

    transition: all 0.2s linear;
}

#locationSelect {
    margin-right: 0.7rem;
}
#enrollmentStatusSelect {
    min-width: 300px;
}

#locationSelect option,
#enrollmentStatusSelect option {
    font-size: 0.87rem;
    background-color: #fff;
}

#locationSelect:hover,
#enrollmentStatusSelect:hover {
    background-color: #F3F3F3;
}


/* subheader toolbar*/
.subheader {
    padding: 0 2rem 0 1rem;

    width: 100%;
    max-width: 100vw;

    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    left: 0;
}

.subheader-left {
    display: inline-flex;
}

.tool-bar-btn {
    width: 16rem;
    height: 3.33rem;

    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    margin-right: 1.33rem;

    transition: all 0.2s linear;
}
.tool-bar-btn:hover {
    background-color: #F3F3F3;
}

.tool-bar-btn svg {
    margin-right: 0.8rem;
    transition: all 0.15s linear;
}
.tool-bar-btn span {
    font-size: 1rem;
    color: #151515;
}

.tool-bar-btn:hover svg {
    transform: scale(1.1);
}



/* Header media */
@media (max-width: 1025px) {
    .tool-bar-btn {
        width: 3.33rem;
        margin-right: 0.67rem;
    }
    .tool-bar-btn svg {
        margin: 0;
    }
    .tool-bar-btn span {
        display: none;
    }
}
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 650px) {
    #locationSelect,
    #enrollmentStatusSelect {
        height: fit-content;
        font-size: 0.87rem;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* HEADERS COLOR GROUPS */
.-left-color-group {
    background-color: #E8E8E8 !important;
    color: #3C3C3C !important;
}
.-agr-color-group {
    background-color: #3789EB !important;
    color: white !important;
}
.-cost-color-group {
    background-color: #3789EB !important;
    color: white !important;
}
.-sign-color-group {
    background-color: #3789EB !important;
    color: white !important;
}
.-learn-color-group {
    background-color: #3789EB !important;
    color: white !important;
}
.-scoring-color-group {
    background-color: #3789EB !important;
    color: white !important;
}


/* student-list-box */
.student-list-box {
    width: fit-content;
}

.student-list-row {
    width:fit-content;
    height: 2rem;

    display: flex;
    flex-wrap: nowrap;

    border-bottom: 1px solid #E8E8E8;
}
.student-list-row:nth-child(even) {
    background-color: #3789eb0f;
}


/* fixed rows */
.-fixed1 {
    position: sticky;
    z-index: 1;

    left: 0;
}
.-fixed2 {
    position: sticky;
    z-index: 1;

    left: var(--delta1);
}
.-fixed3 {
    position: sticky;
    z-index: 1;

    left: var(--delta2);
}
.-fixed4 {
    position: sticky;
    z-index: 1;

    left: var(--delta3);
}
.-fixed5 {
    position: sticky;
    z-index: 1;

    left: var(--delta4);
}

.isSticky{
    color:#4377B5 !important;
}

#fixed-headers-row {
    height: var(--titles-row-height);
    position: sticky;
    top: var(--header-height);
    z-index: 2;
}
.-header {
    font-size: 0.8rem !important;
    text-transform: capitalize !important;
    white-space: normal !important;
}

.field {
    --width: 6rem;
    width: var(--width);
    min-width: var(--width);
    height: 100%;

    display: flex;
    align-items: center;

    font-size: 0.8rem;
    color: #151515;

    white-space: nowrap;
    overflow-x: hidden;
}


.-lastName {
    --width: var(--lastname-fixed-col-width);
    padding-left: 1rem;

    font-size: 1rem;
    color: #4377B5;
}
.student-list-row:nth-child(odd) .-lastName {
    background-color: #fff;
}
.student-list-row:nth-child(even) .-lastName {
    background-color: #f8f8f8;
}


.-firstName, .-middleName {
    --width: var(--name-fixed-col-width);
    font-size: 1rem;
    color: #4377B5;
}
.student-list-row:nth-child(odd) .-firstName,
.student-list-row:nth-child(odd) .-middleName {
    background-color: #fff;
}
.student-list-row:nth-child(even) .-firstName,
.student-list-row:nth-child(even) .-middleName {
    background-color: #f8f8f8;
}


.-key {
    --width: var(--key-fixed-col-width);
}
.student-list-row:nth-child(odd) .-key {
    background-color: #fff;
}
.student-list-row:nth-child(even) .-key {
    background-color: #f8f8f8;
}


.-location {
    --width: 8rem;
}
.student-list-row:nth-child(odd) .-location {
    background-color: #fff;
}
.student-list-row:nth-child(even) .-location {
    background-color: #f8f8f8;
}


.-unset-location {
    color: var(--accent-bad);
}
.-qr {
    --width: 4rem;
    justify-content: center;
}

.-TTT {
    --width: var(--TTT-fixed-col-width);
    justify-content: center;
}
.student-list-row:nth-child(odd) .-TTT {
    background-color: #fff;
}
.student-list-row:nth-child(even) .-TTT {
    background-color: #f8f8f8;
}

.-balance {
    --width: var(--balance-fixed-col-width);
}
.student-list-row:nth-child(odd) .-balance {
    background-color: #fff;
}
.student-list-row:nth-child(even) .-balance {
    background-color: #f8f8f8;
}


.-status {
    --width: 5rem;
    justify-content: center;
}
.-status.-header {
    border-left: 3px solid #fff;
}
.-status-block {
    color: var(--accent-bad);
}
.-status-archive {
    color: orange;
}


.-class {
    --width: 9rem;
}
.-transmission {
    --width: 7rem;
}
.-visiting {
    --width: 8rem;
}

.-tuitionCost, .-totalCost,
.-regisrFee, .-supplyFee, .-otherFee {
    --width: 8rem;
}

.-tuitionCost[data-amount='0'],
.-totalCost[data-amount='0'],
.-regisrFee[data-amount='0'],
.-supplyFee[data-amount='0'],
.-otherFee[data-amount='0'] {
    color: #e8e8e8;
}

.-totalCost {
    color: #3789EB;
}

.-created,
.-schoolSignRep {
    --width: 7.5rem;
}


/* Tuition States */
.-tuition {
    --width: 5rem;
}


.-tuitionDisabled, .-tuitionDone, .-tuitionProgress {
    text-decoration: none;
}
.-tuitionDisabled {
    background-color: #dd4848;
    color: #fff;
}
.-tuitionDone, .-tuitionProgress {
    color: #333333;
}
.-tuitionProgress {
    --col1: transparent;
    --col2: #ebf900;
    --right: calc(var(--progress) + 5%);

    background: -webkit-linear-gradient(90deg, var(--col1) var(--progress), var(--col2) var(--right));
    background: -moz-linear-gradient(90deg, var(--col1) var(--progress), var(--col2) var(--right));
    background: linear-gradient(90deg, var(--col1) var(--progress), var(--col2) var(--right));
}

/* Scoring States */
.-scoring, .-isAllowed {
    --width: 8rem;
    justify-content: center;
}

.-scoringPassed {
    width: 20px;
    height: 20px;
    background-color: #A2D092;
    border-radius: 100%;
    justify-content: center;
    cursor: pointer;
}
.-scoringFailed {
    width: 20px;
    height: 20px;
    background-color: #F27878;
    border-radius: 100%;
    justify-content: center;
    cursor: pointer;
}


@keyframes lighthouse-work {
    0% { transform: translate(0, 0) scale(1.25, 0.75); }
    50% { transform: translate(0, -40%) scale(1, 1); }
    55% { transform: translate(0, -40%) rotate(15deg); }
    60% { transform: translate(0, -40%) rotate(-15deg); }
    65% { transform: translate(0, -40%) rotate(15deg); }
    70% { transform: translate(0, -40%) rotate(-15deg); }
    100% { transform: translate(0, 50%) scale(1.25, 0.75); }
}
.-jump {
    -webkit-animation: lighthouse-work 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
    animation: lighthouse-work 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
}


@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); } 
}
.-roll {
    -webkit-animation: rollIn 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
    animation: rollIn 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
}


@keyframes flip {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}
.-flip{
    animation: flip 1s linear; 
}


.-hidden {
    display: none;
}


/* Balance styles */
.balance-zero {
    color: #e8e8e8;
    text-decoration: none;
}
.balance-student-owe {
    --col1: transparent;
    --col2: var(--accent-bad);
    --right: calc(var(--perc) + 3%);

    background: -webkit-linear-gradient(90deg, var(--col1) var(--perc), var(--col2) var(--right));
    background: -moz-linear-gradient(90deg, var(--col1) var(--perc), var(--col2) var(--right));
    background: linear-gradient(90deg, var(--col1) var(--perc), var(--col2) var(--right));

    text-decoration: none;
}
.balance-company-owe {
    background-color: #f5d992 !important;
    text-decoration: none;
}


.-visible > .-lastName {
    color: var(--filter-accent) !important;
}