@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

:root {
    --header-height: 4rem;
    --filter-accent: #4377B5;
}

html, body {
    width: fit-content;
}

/* HEADER */
header, .dummy {
    width: 100%;
    height: var(--header-height);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: fixed;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* searchbar */
.nickname-search-box {
    width: 100%;
    max-width: 20rem;
    height: 100%;

    background-color: #060E18;
    position: relative;

    margin-right: 2rem;
}
.nickname-search-box svg {
    fill: #647389;

    position: absolute;
    top: 50%;
    left: 5px;
    
    transform: translateY(-50%);
    transition: all 0.2s linear;
    
    cursor: pointer;
}
.nickname-search-box svg:hover {
    fill: #fff;
}

.nickname-search {
    padding: 0 2rem;

    width: 100%;
    height: 100%;
    
    color: #fff;
    background-color: transparent;

    border: none;
    outline: none;

}
.nickname-search::placeholder {
    color: #647389;
}


/* Header media */
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* sub-header */
.sub-header {
    padding: 0 11.6vw;

    width: 100%;
    max-width: 98vw;
    height: 8.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    transition: all 0.35s linear;

    position: sticky;
    left: 0;
}

.sub-header-left {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sub-header-right {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-header-title {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 1.53rem;

    text-transform: uppercase;
    color: #151515;
}
.sub-header-title span {
    margin: 0 1.67rem;
    font-size: 0.87rem;
    text-transform: none;
    color: #000000;
}

.-admin-menu-btn {
    margin-left: 0.8rem;

    width: 3.33rem;
    height: 3.33rem;

    font-weight: 700;
    font-size: 0.87rem;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #AAAAAA;

    border: 1px solid #DEDEDE;
    border-radius: 2rem;

    transition: all 0.2s linear;
    cursor: pointer;
}
.-admin-menu-btn:hover {
    /* box-shadow: 0px 0px 15px 1px #93939357; */
    background-color: #F3F3F3;
}


/* for filtering */
.-visible > .-index {
    color: var(--filter-accent) !important;
    transition: all 0.25s linear;
}
.-hidden {
    display: none !important;
}


/* search-bar */
.years-box {
    position: relative;
    
}
.years-box svg {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    left: 1rem;
    z-index: 0;
}

.year-picker {
    all: unset;

    width: 7.67rem;
    height: 3.33rem;

    display: inline-flex;
    align-items: center;
    text-align: center;

    background-color: transparent;
    border: 1px solid #DEDEDE;
    border-radius: 2rem;

    outline: unset;
    cursor: pointer;

    transition: all 0.2s linear;

    position: relative;
    z-index: 1;
}
.year-picker:hover {
    /* box-shadow: 0px 0px 15px 1px #93939357; */
    background-color: #e9e9e963;
}


/* Main Table */

.-table-header {
    height: 2.93rem !important;

    position: sticky;
    top: calc(var(--header-height) - 1px);
    
    background-color: #E8E8E8 !important;

    z-index: 10;
}
.-table-header * {
    font-weight: 500 !important;
    font-size: 0.87rem !important;
    text-decoration: none !important;
    text-transform: none !important;
    color: #3C3C3C !important;
}

.table-row {
    padding-left: 1.3rem;

    width: fit-content;
    height: 2.4rem;

    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;

    border-bottom: 1px solid #E8E8E8;
}
/* .table-row:nth-of-type(odd) {
  background-color: #f0f0f0;
} */

.cell {
    width: 5rem;
    display: inline-block;
    
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;

    white-space: nowrap;
    overflow-x: hidden;
    
    cursor: default;
}

/* Columns */
.-index {
    width: 4rem;

    overflow-y: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
.delete-row {
    margin-right: 5px;
    width: 10px;
    height: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #AAAAAA;
    border-radius: 100%;

    cursor: pointer;
}

.-location {
    width: 7rem;
    font-weight: 700;
}

.-class {
    width: 12rem;
    text-transform: uppercase;
}

.-awardType {
    width: 10rem;
}

.-lastName, .-firstName {
    width: 12rem;
  
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
    color: #4377B5;

    cursor: pointer;
}
.-firstName {
    text-decoration: none;
}

.-mi {
    width: 5rem;
}

.-street {
    width: 18rem;
    text-transform: uppercase;
}
.-city {
    width: 10rem;
    text-transform: uppercase;
}
.-state {
    width: 3.5rem;
    text-transform: uppercase;
}
.-zip {
    width: 5rem;
}
.-phone, .-SSN {
    width: 6.5rem;
}
.-DOB {
    width: 7rem;
}
.-sex {
    width: 4rem;
    text-transform: uppercase;
}
.-grade {
    width: 8rem;
}
.-startDate, .-exitDate {
    width: 6rem;
}
.-programEnrollmentStatus {
    width: 13rem;
}
.-earnedAwardType {
    width: 9rem;
}


/* normalizing when printing */
@media print {
    header {
        display: none;
    }
    .sub-header {
        margin-top: 0;
    }
    .-index {
        display: none;
    }
}

@media (max-width: 850px) {
    .sub-header {
        margin-top: 5rem;
        flex-direction: column;
    }
    .sub-header-left,
    .sub-header-right {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 465px) {
    .sub-header {
        padding: 0 10px;
    }
    .sub-header-title span {
        margin: 0 0.7rem;
    }
}

