@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.main-box {
    width: 100%;
    min-height: 100vh;
    
    background-color: #ffffff;

    background-image: url('/static/general-pages/NEA/NEA.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

h1 {
    width: 95%;
    margin: 0 auto 1rem auto;
    padding-top: 14vh;

    font-weight: 700;
    font-size: 2.67rem;
    text-align: center;
    text-transform: uppercase;

    color: #1B1B1B;
}
.-hgh {
    font-weight: inherit;
    font-size: inherit;
    color: #f27878;
}

h2 {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 8.33vh;

    font-size: 1rem;
    color: #1B1B1B;
    text-align: center;
}
h2 strong {
    margin: 0 0.35rem;
    font-weight: 600;
    font-size: inherit;
}


.btn {
    margin: 0 auto;
    padding: 1rem 0;
    
    width: 13.33rem;

    font-weight: 500;
    font-size: 1rem;
    color: #151515;

    text-align: center;

    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2.4rem;

    transition: all 0.2s linear;
    cursor: pointer;
}
.btn:hover {
    background-color: #F3F3F3;
}


@media (max-width: 770px) {
    h1 { font-size: 2.33rem; }
    h2 { font-size: 1.33rem; }
}