<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CDL School | Not Enough Authorithies</title>
    <link rel="shortcut icon" href="/static/images/thumb.png">
    <link rel="stylesheet" href="/static/general-pages/NEA/NEA.css">
</head>
<body>
    
    <% const operation = auth ? auth : 'read/write' %>

    <div class="main-box">
        <h1>Sorry, your authorities are <span class="-hgh">not enough</span></h1>
        <h2>To visit the requested page you must have<strong><%= operation %></strong>authority</h2>
        <div class="btn" onclick="history.back()">Go Back</div>
    </div>

</body>
</html>