/* @GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
}


/* Hide Scrollbars But Keep Functionality */
html, body {
    width: 100vw;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

:root {
    --width: 80%;
    --max-width: 1200px;

    --player-box-width: min(80vw, var(--max-width));
    --player-box-height: calc(var(--player-box-width)*0.5625);

    --player-width: var(--player-box-width);
    --player-height: calc(var(--player-width)*1.1);
    --player-mt: calc((var(--player-box-height) - var(--player-height)) / 2);

    --true: hsl(110, 50%, 42%);
    --false: hsl(349, 79%, 50%);

    accent-color : #3b3b3b;
}


/* @HEADER */
header, .dummy-header {
    padding: 0.93rem 1.33rem;
    width: 100%;
}
header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    background: #0F1C2F;
    
    z-index: 10;
    position: fixed;
    top: 0;
}

.left-box, .right-box {
    width: calc((100% - var(--width)) / 2);
}
.center-box {
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-box {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
}
.left-box span {
    margin-left: 0.87rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: uppercase;

    color: #FFFFFF;
}
.right-box {
    display: flex;
    align-items: center;
    justify-content: right;
}
.right-box button{
    border: none;
    outline: none;
    display: flex;
    background-color: transparent;
}

.welcome-text,
.welcome-header,
.back-to-profile {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #657389;
}
.back-to-profile {
    text-transform: uppercase;
    text-decoration: none;
}
.welcome-header {
    font-weight: 600;
    color: #fff;
}

.btn-ico {
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn-ico:hover {
    fill: #fff;
}

.-sign-out {
    width: 25px;
    height: 21px;
    fill: #657389;
}


/* main-container */
.main-container {
    margin: 0 auto;
    width: var(--width);
    max-width: var(--max-width);
}

/* title-box */
.title-box {
    margin: 4rem 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone-box {
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
}
.phone-box svg {
    margin-right: 0.83rem;
}
.main-text,
.main-bold,
.main-phone {
    font-weight: 500;
    font-size: 1.53rem;
    line-height: 1.87rem;

    color: #151515;
}
.main-bold {
    font-weight: 700;
}
.main-phone, .main-phone-ico {
    color: #AAAAAA;
    transition: all 0.2s linear;
}
.phone-box:hover .main-phone {
    color: #151515;
}
.phone-box:hover .main-phone-ico {
    fill: #151515;
    transform: translateX(-2px);
}


/* FOOTER */
footer {
    margin-top: 10rem;
    padding: 0.93rem 1.33rem;
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    background: #0F1C2F;
}
.footer-left {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #657389;
}
.footer-center {
    width: calc(var(--max-width) * 0.6);

    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.footer-item {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;

    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}
.footer-right span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #657389;
}
.footer-right a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;

    text-transform: uppercase;

    color: #FFFFFF;
}


.-show-if-450 {
    display: none;
}



/* LEARNING CENTER */

.videoItem {
    width: 100%;
    min-height: 6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #C4C4C4;
}
.video-lesson-main,
.video-lesson-details {
    width: 50%;
}
.video-lesson-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-lesson-index {
    margin-right: 1.4rem;
    font-weight: 500;
    font-size: 1rem;
    
    color: #828282;
}
.video-lesson-title {
    font-weight: 600;
    font-size: 1rem;

    color: #151515;
    background-color: transparent;

    border: none;
    outline: none;

    cursor: pointer;
}

.completeness-box, .test-box {
    display: flex;
    align-items: center;
}
.completeness-title {
    margin-right: 0.4rem;
    font-weight: 500;
    font-size: 1rem;

    color: #828282;
}
.completeness-ratio {
    margin-right: 2.4rem;
    font-weight: 700;
    font-size: 1rem;

    color: #151515;
}
.completeness-bar {
    --col: #C4C4C4;
    --perc: 0.01;

    width: 13.3rem;
    height: 2rem;

    background: linear-gradient(90deg, var(--col) calc(var(--perc) * 100%), #fff calc(var(--perc) * 100%));
    background: -o-linear-gradient(90deg, var(--col) calc(var(--perc) * 100%), #fff calc(var(--perc) * 100%));
    background: -moz-linear-gradient(90deg, var(--col) calc(var(--perc) * 100%), #fff calc(var(--perc) * 100%));
    background: -webkit-linear-gradient(0deg, var(--col) calc(var(--perc) * 100%), #fff calc(var(--perc) * 100%));


    border: 1px solid #C4C4C4;
    border-radius: 2rem;
}

.test-title {
    margin-right: 1.6rem;
    font-weight: 500;
    font-size: 1rem;

    color: #828282;
}
.test-indicators-box {
    display: flex;
}
.test-indicator {
    margin-left: 5px;

    width: 30px;
    height: 30px;

    border: 1px solid #C4C4C4;
    border-radius: 30px;

    position: relative;
}
.test-indicator::after {
    content: "";

    position: absolute;
    margin: 3px;
    width: 22px;
    height: 22px;

    border-radius: 22px;
}
.-ind-no-test::after {
    background-color: #C4C4C4;
}
.-ind-failed::after {
    background-color: #F27878;
}
.-ind-passed::after {
    background-color: #A2D092;
}



/* LEARNING CENTER Media */
@media (max-width: 1450px) {
    :root {
        --width: 95%;
    }
    .center-box {
        width: 85%;
    }
}
@media (max-width: 1250px) {
    .center-box {
        width: 80%;
    }
    .videoItem {
        flex-direction: column;
        justify-content: center;
    }
    .video-lesson-main,
    .video-lesson-details {
        margin: 0.5rem 0;
        width: 100%;
    }
}
@media (max-width: 850px) {
    .center-box {
        width: 87%;
    }
    header .left-box span,
    header .welcome-debt .welcome-text {
        display: none;
    }
    .title-box {
        flex-direction: column;
    }
    .main-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.67rem;
    }
    footer {
        margin-top: 3.5rem;
        display: flex;
        flex-direction: column;
    }
    .footer-center {
        margin: 1rem auto;
        width: 95%;
        display: flex;
    }
}
@media (max-width: 615px) {
    :root {
        --width: 85%;
    }
    .welcome-prompt .welcome-text {
        display: none;
    }
    .videoItem {
        margin-bottom: 2.5rem;
    }
    .video-lesson-main {
        margin-left: -4.25rem;
    }
    .video-lesson-index {
        margin-right: 0.5rem;
    }
    .video-lesson-details {
        flex-direction: column;
        align-items: flex-start;
    }
    .completeness-box {
        margin-bottom: 0.8rem;
    }
    .test-box {
        margin-bottom: 0.5rem;
    }
    .footer-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }
}
@media (max-width: 450px) {
    .center-box {
        width: 80%;
    }
    .welcome-prompt {
        display: none;
    }
    .video-lesson-main {
        margin-left: 0;
        display: flex;
    }
    .video-lesson-title {
        text-align: left;
    }
    .completeness-box {
        width: 100%;
        justify-content: space-between;
    }
    .completeness-bar {
        width: 6.67rem;
    }
    .test-box {
        width: 100%;
        justify-content: space-between;
    }
}



/* LEARNING PLAYER */

.test-title-box {
    margin: 3.5rem 0 2.5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titles {
    display: flex;
    align-items: flex-end;
}
.module-title {
    font-weight: 500;
    font-size: 1rem;

    color: #151515;
    margin-right: 2.5rem;
}
.lesson-title {
    font-weight: 600;
    font-size: 1.5rem;

    color: #151515;
    margin-right: 2rem;
}
#closelink {
    font-weight: 500;
    font-size: 1rem;
    text-decoration-line: underline;

    color: #4377B5;
}

/* Player */
.main-video-box {
    margin-bottom: 6rem;
}
.main-video-box .video-lesson-details {
    margin-bottom: 3.73rem;
}
.player-and-tools {
    position: relative;
}
.player-and-tools:before {
    content: "";
    position: absolute;

    top: -2rem; bottom: -2rem;
    left:-2rem; right: -2rem;

    border: 1px solid #C4C4C4;
    border-radius: 1.33rem;
    z-index: -1;
}

.player-box {
    --back-img: none;

    margin: 0 auto;
    width: var(--player-box-width);
    height: var(--player-box-height);
    overflow-y: hidden;

    border-radius: 0.67rem;

    margin-bottom: 2rem;
    position: relative;
}
.player-box::after {
    /* diables clicking over yt */
    content: "";

    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;

    background-image: var(--back-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0.35;

    z-index: 1;
}
.-paused-state {
    --back-img: url('/static/images/2-WB.png');
    opacity: 0.5;
}

#player {
    width: var(--player-width);
    height: var(--player-height);
    margin-top: var(--player-mt);
}




.tools-box {
    /* width: var(--player-width); */
    width: 100%;
    margin: 0 auto;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.tool-navigation {
    width: 60%;
}
.tool-volume, 
.tool-playbackQuality {
    width: 10%;
}



/* Quiz Side */

.quiz-main-box {
    width: 100%;
}
.quiz-box {
    width: 100%;
}

.test-box-info {
    width: 100%;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: #2d2d2d;
}


.question-block {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 5.5rem;
    position: relative;
}
.question-block::before {
    content: "";
    position: absolute;

    top: -2rem; bottom: -2rem;
    left:-2rem; right: -2rem;

    border: 1px solid #C4C4C4;
    border-radius: 1.33rem;
    z-index: -1;
}

/* Wobble Vertical */
@keyframes wobble-vertical {
	16.65% { transform: translateY(8px) }
    33.3% { transform: translateY(-6px) }
    49.95% { transform: translateY(4px) }
    66.6% { transform: translateY(-2px) }
    83.25% { transform: translateY(1px) }
    100% { transform: translateY(0) }
}

.--block-true {
    background-color: rgb(202, 250, 202);

    animation-name: wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

/* Wobble Horizontal */
@keyframes wobble-horizontal {
	16.65% { transform: translateX(8px) }
    33.3% { transform: translateX(-6px) }
    49.95% { transform: translateX(4px) }
    66.6% { transform: translateX(-2px) }
    83.25% { transform: translateX(1px) }
    100% { transform: translateX(0) }
}
.--block-false {
    background-color: rgb(250, 183, 183);

    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.test-question {
    font-weight: 700;
    font-size: 1.5rem;
    color: #151515;
    margin-bottom: 1.5rem;
}

.answers-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.93rem;
}
.answer-block {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
.test-answer {
    font-weight: 500;
    font-size: 1rem;
    color: #151515;
}

.test-radio {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 1.2rem;
}



/* styles to mark true and false answers with */
.true {
    color: var(--true);
    font-weight: 700;
    transition: all 0.2s linear;
}
.false {
    color: var(--false);
    font-weight: 700;
    transition: all 0.2s linear;
}

.submitQuizze {
    margin: 0 auto;

    width: 18.67rem;
    height: 3.33rem;

    background-color: #0F1C2F;
    border-radius: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 1.33rem;
    text-transform: uppercase;

    color: #FFFFFF;
}



.-hidden {
    display: none;
}


