@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.scoring-box {
    width: 95%;
    max-width: 1211px;
    margin: 0 auto;
}

.title {
    margin: 2rem 0 3rem 0;

    font-weight: 500;
    font-size: 1.53rem;
    color: #151515;
}
.sub-title {
    font-weight: 700;
    font-size: 1.53rem;
    color: #151515;

    margin-right: 0.73rem;
}


header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2.93rem;
}

.-left-header-box,
.-right-header-box {
    width: 50%;
}
.-left-header-box {
    border-right: 2px solid #C4C4C4;
    margin-bottom: 3.47rem;
}
.-right-header-box {
    padding-left: 2rem;
    margin-bottom: 3.47rem;
}

.block-item {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.item-title {
    min-width: 14.73rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;
    color: #828282;
}
.item-value {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;
    color: #151515;
}
.item-value.-bold {
    font-weight: 700;
}

.test-information-box {
    padding: 1.67rem 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;

    margin-bottom: 2.93rem;
}
.-left-test-information-box {
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
}
.-right-test-information-box {
    width: 65%;
    padding-left: 2rem;
}

.cert-ico {
    margin-right: 1.4rem;
}
.cert-info {
    max-width: 10.87rem;

    font-size: 1rem;
    line-height: 1.53rem;
    color: #151515;
}
.cert-info span {
    font-weight: 700;
    text-transform: uppercase;
}

.-mandatory {
    max-width: 13.33rem !important;
    line-height: 1rem;
}

[data-passed="true"] {
    font-weight: 700;
    text-transform: uppercase;
    color: #A2D092;
}
[data-passed="false"] {
    font-weight: 700;
    text-transform: uppercase;
    color: #F27878;
}


/* Results Body */
.scoring-results {
    width: 100%;
    display: block;
}
.scoring-results h2 {
    margin: 1.67rem 0 1.67rem 0;
    
    font-weight: 700;
    font-size: 1.53rem;
    color: #151515;

    text-align: center;
    text-transform: uppercase;
}


/* Scoring Block */
.scoring-block-box {
    width: 100%;
    margin-bottom: 1.67rem;
}
.scoring-block-box-inner {
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;
}
.scoring-block-box-title {
    margin-top: -2px;
    margin-right: 0.6rem;

    font-weight: 700;
    font-size: 1rem;
    color: #C4C4C4;

    text-transform: uppercase;
    white-space: nowrap;
}
.scoring-block-box-line {
    width: 100%;
    border-bottom: 2px solid #E8E8E8;
}


.scoring-checks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.scoring-block {
    width: 33.33%;

    margin-bottom: 0.5rem;

    flex: 1 1 auto;
}


.scoring-block[data-skills="1"] {
    width: 100%;
}
.scoring-block[data-skills="1"] .scoring-skills-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.scoring-block[data-skills="2"] {
    width: 50%;
}
.scoring-block[data-skills="2"] .scoring-skills-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.scoring-block-title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.67rem;
    color: #151515;

    text-transform: capitalize;
    margin-bottom: 0.53rem;
}

.scoring-skill {
    width: 95%;
    max-width: 20rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 0.63rem;
}
.scoring-skill-value {
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 1rem;
    color: #151515;

    text-transform: capitalize;
}


.scoring-skill-check {
    width: 30px;
    min-width: 30px;

    height: 30px;
    min-height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #C4C4C4;
    border-radius: 100%;
}


.-checked, .-unchecked {
    width: 22px;
    height: 22px;
    border-radius: 100%;
}
.-checked {
    background-color: #A2D092;
}
.-unchecked {
    background-color: #F27878;
}



.comments {
    min-height: 100px;
    cursor: pointer;
}
.comments p {
    padding: 5px 1.67rem;

    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #8D8D8D;

    background-color: #d7d8ed17;
}

footer {
    min-height: 10rem;
}

.backlink {
    margin: 5px 0;
    
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.33rem;

    color: #4377B5;
}