@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.scoring-box {
    width: 95%;
    max-width: 1535px;
    margin: 0 auto;
}

.title {
    margin: 1.33rem 0 0.67rem 0;

    font-weight: 700;
    font-size: 1.53rem;
    
    text-align: center;
}

.block-box {
    margin-bottom: 10px;
    padding: 15px;
    
    display: flex;
    flex-direction: column;

    background-color: rgba(41, 41, 41, 0.03);
}

.item-title {
    min-width: 8rem;
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #8D8D8D;
}
.item-value {
    font-weight: 600;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #151515;
}

[data-passed="true"] {
    background-color: #daf9ce;
}
[data-passed="false"] {
    background-color: #fde9e9;
}

.block-box > h2{
    margin-bottom: 1rem;
}
.block-item {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
.block-item strong, .item-title {
    padding-right: 5px;
}


/* Certificates */
.certificate, .no-certificate {
    width: 100%;
    padding: 5px;

    text-align: right;
    
    background-color: #d6eecd;
    position: relative;
}
.no-certificate {
    background-color: #f7aaaa;
}
.fa-certificate {
    width: 40px;

    fill:#e9760ba6;

    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-50%);
}
.certificate strong, .no-certificate strong {
    font-weight: 700;
    text-transform: uppercase;
}


/* Results Body */
.scoring-results {
    width: 100%;
    display: block;
}
.scoring-results h2 {
    margin: 1.67rem 0 0.67rem 0;
    font-size: 2rem;
    text-align: center;
}

.scoring-block-box {
    padding: 5px;
    margin-bottom: 2.33rem;
}
.scoring-block-box-title {
    padding-bottom: 3px;
    margin-bottom: 10px;

    font-weight: 700;
    text-transform: uppercase;

    border-bottom: 1px solid #E8E8E8;
}
.scoring-block-title {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #8D8D8D;

    text-transform: capitalize;
}

.scoring-skills-box {
    margin: 5px 0 10px 35px;
    display: flex;
    flex-wrap: wrap;
}
.scoring-skill {
    flex: 1 auto;

    display: inline-flex;
    align-items: center;

    text-transform: capitalize;
}
.scoring-skill p {
    margin: 2px 5px;

    font-weight: 500;
    font-size: 0.93rem;
    line-height: 1.53rem;
    color: #151515;
}
.scoring-skill svg {
    width: 0.93rem !important;
    min-height: 0.93rem;
}
.-checked {
    fill: #8acd71;
}
.-unchecked {
    fill: #F27878;
}

.comments {
    min-height: 100px;
    cursor: pointer;
}
.comments p {
    padding: 5px 1.67rem;

    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #8D8D8D;

    background-color: #d7d8ed17;
}

footer {
    min-height: 10rem;
}

.backlink {
    margin: 5px 0;
    
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.33rem;

    color: #4377B5;
}