@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

body, html {
    position: relative;
}

header,
.main-test-box,
.scoring-results {
    width: 95%;
    max-width: 1535px;
    margin: 10px auto;
}

header {
    padding: 5px 0;
    position: relative;
}
header::before {
    content: '';
    
    position:absolute;
    inset: 0;
    top: -5rem;

    background-image: url('/static/images/2-WB.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    opacity: 0.075;

    z-index: -1;
}

.scoring-title {
    width: 100%;
    
    font-weight: 700;
    font-size: 1.53rem;
    text-align: center;
    text-transform: uppercase;
    color: #151515;

    margin-bottom: 1rem;
}

.student-info,
.scoring-examiner {
    padding: 10px 3px;
    width: 100%;
    list-style: none;
}
.student-info li,
.scoring-examiner li {
    display: flex;
}

.info-title {
    min-width: 11.27rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;
    color: #828282;
}
.info-value {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;
    color: #151515;

    margin-right: 5px;
}
.-bold {
    font-weight: 700;
}

.scoring-examiner {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav {
    margin: 10px auto;
    
    width: 95%;
    max-width: 1535px;
}
#close {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.33;

    color: #4377B5;

    transition: all 0.2s linear;
    cursor: pointer;
}
#close:hover {
    color: #3789EB;
}


/* Details sections */
.prev-scorings {
    width: 95%;
    max-width: 1535px;
    margin: 10px auto 25px auto;
    
    background-color: rgba(51, 51, 51, 0.075);
    border-radius: 3px;
}
.prev-scorings summary {
    padding: 0.5rem;

    font-weight: 600;
    text-transform: uppercase;
    color: #4377B5;
    cursor: pointer;
}


/* Student Scoring Details */
.scoring-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    font-size: 0.83rem;
}
.scoring-table * {
    margin-bottom: 0.5rem;

    font-weight: 500;
    font-size: 0.87rem;
}
.scoring-table *:nth-child(1) {
    padding-left: 1rem;
}

.-table-header {
    padding: 5px 0;
    
    font-weight: 700;
    font-size: 0.87rem;
    color: #fff;

    background-color: #AAAAAA;

}

.scoring-details {
    width: 100%;
    padding-left: 1rem;

    color: #a9a9a9;
    text-align: left;
    text-decoration: underline;

    border: none;
    cursor: pointer;
}

.field-warning {
    color: #F27878;
}
.field-accomplished {
    color: #70cd4f;
}
.field-yellow {
    color: #a9a9a9;
}


.scoring-results {
    --col1: #0F1C2F;
    --col2: #ffffffd2;

    padding: 0.7rem 0 1.5rem 0;

    position: sticky;
    top: 0;

    text-align: center;
    
    background-color: var(--col1);
    background: -webkit-linear-gradient(180deg, var(--col1) 85%, var(--col2));
    background: -moz-linear-gradient(180deg, var(--col1) 85%, var(--col2));
    background: linear-gradient(180deg, var(--col1) 85%, var(--col2));

    z-index: 100;
}
.scoring-results h2 {
    font-size: 1.15rem;
    color: #fff;
}
#current-result {
    color: #FFD971;
}
#pass-fail {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #FFD971;
}

.test-block-box {
    --col1: #0F1C2F;
    --col2: #a0aaaa;

    font-size: 1rem;
    line-height: 2em;
    
    padding-left: 3px;
    margin-bottom: 0.5rem;
    background-color: var(--col1);

    background: -webkit-linear-gradient(90deg, var(--col1), var(--col2));
    background: -moz-linear-gradient(90deg, var(--col1), var(--col2));
    background: linear-gradient(90deg, var(--col1), var(--col2));

    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}
.-done1-3 {
    --col1: #ede040;
    --col2: #a0aaaa;
}
.-done2-3 {
    --col1: #F7BF68;
    --col2: #a0aaaa;
}
.-done3-3 {
    --col1: #68E4BC;
    --col2: #a0aaaa;
}
.-fail-test {
    --col1: #e46868;
    --col2: #a0aaaa;
}

summary {
    cursor: pointer;
}
.test-block-box summary::marker {
    color: #fff;
}

.section-title {
    color: #fff;
}

.item-box {
    margin: 0;
    margin-top: 1px;
    padding: 2px 0 2px 15px;

    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    background-color: #efefefc7;
}
.item-title {
    width: 15%;

    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.2;
    color: #4377b5;
}
.item {
    width: 85%;
    display: flex;
    flex-flow: row wrap;
}

.skill {
    width: 20%;
   
    flex: 1 auto;

    margin: 1px;
    padding: 5px 2px;
    
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    background-color: rgba(0,0,0,0.05);
    border-radius: 3px;
}
.skill input {
    transform: scale(1.35);
    margin: 0 3px;
}

.skill label {
    width: 100%;
    color: #151515;
    padding-left: 3px;
    line-height: 1.2em;
}


.comments-box {
    margin: 2rem 0;
    width: 100%;
}
.comments {
    width: 100%;
    height: 4.6rem;

    padding: 5px;

    font-size: 1rem;
    color: #000000;

    border: 2px solid #4377B5;
    border-radius: 5px;

    resize: none;
    outline: none;
}

.scoring-data {
    display: none;
}

.certification {
    padding-bottom: 1rem;
    text-align: center;
    position: relative;
}
.certification h3 {
    font-size: 0.87rem;
    margin-bottom: 10px;
}
.certification input {
    transform: scale(2);
    margin-right: 10px;
}
.certification label {
    font-size: 1rem;
}
.cetrSignature {
    display: none;
    
    font-size: 1.53rem;
    font-weight: 600;
    font-style: italic;
    color: #4377B5;
    
    position: absolute;
    right: 0;
    bottom: 0;

    transition: display 1s linear;
}
input#certificate:checked ~ .cetrSignature {
    display: block;
}

.buttons-box {
    width: 100%;
    min-height: 100px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    position: relative;
}
.buttons-box p {
    font-size: 1rem;
    color: #AAAAAA;
    
    position: absolute;
    right: 0;
    bottom: 0;
}

.-btn {
    margin: 2.5rem 0;
    width: 10rem;
    height: 3.33rem;

    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2.4rem;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 1rem;
    color: #151515;

    cursor: pointer;
    transition: all 0.2s linear;
}
.-btn:hover {
    background-color: #F3F3F3;
}


.-hidden {
    display: none;
}


/* IMPORTANT GROUPS */
label[data-importantlabel="YES"] {
    color: #8b1717;
}


@media (max-width: 1150px) {
    .item-title {
        width: 20%;
        min-width: 200px;
    }
    .item {
        width: 80%;
    }
}
@media (max-width: 950px) {
    .skill {
        width: 35%;
    }
}
@media (max-width: 750px) {
    :root {
        font-size: 14px;
    }
    .item-title {
        width: 45%;
        min-width: unset;
    }
    .item {
        width: 55%;
    }
}
@media (max-width: 550px) {
    :root {
        font-size: 13px;
    }
    .-ex-title {
        display: none;
    }
    .scoring-title {
        font-size: 1.5rem;
    }
    .item-box {
        display: block;
        padding-left: 0px;
    }
    .item-title {
        width: 100%;
        text-align: center;
    }
    .item {
        width: 100%;
    }
    .skill {
        flex: 1;
    }
}
@media (max-width: 350px) {
    :root {
        font-size: 12px;
    }
}