@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

:root {
    --header-height: 6rem;

    --chart-width: 100%;
    --chart-height: 35vh;
}

/* HEADER */

header {
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: sticky;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: calc(-1 * var(--height));

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* Header media */
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* Chart BOX */

.chart-box {
    margin: 0 auto;
    padding: 4rem 0;

    width: 95%;
    max-width: 1150px;
    
    background-color: #fff;
}
.chart-description {
    width: 7rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    word-break: keep-all;

    color: #AAAAAA;
}

.charts-box {
    width: var(--chart-width);
    height: var(--chart-height);

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

   
    border-bottom: 2px solid #DADADA;

    padding-bottom: 1rem;
    margin-bottom: 6.33rem;
}
.chart {
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;

    position: relative;
    z-index: 0;
}

.chart-column {
    width: 100%;
    max-width: 256px;

    margin: 0 1.5%;
    height: calc(var(--chart-height) * var(--heightRatio)*0.9);

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    position: relative;
}

.chart-column-inner {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: var(--color);

    border-radius: 3px;
}

.column-value {
    width: 100%;

    position: absolute;
    left: 0;
    top: -2rem;

    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #000000;

    z-index: 2;
}
.column-title {
    width: 100%;

    position: absolute;
    left: 0;
    bottom: -3rem;

    text-align: center;

    z-index: 2;
}

.title-location {
    font-weight: 700;
    font-size: 0.73rem;
    text-align: center;
    color: #000000;
}

.title-separator,
.title-percent {
    font-weight: 500;
    font-size: 0.73rem;
    text-align: center;
    color: #000000;
}


/* chart description */

.chart-subtitle {
    font-weight: 700;
    font-size: 1.53rem;
    line-height: 1.87rem;
    text-align: center;
    color: #151515;
}
.chart-subtitle1 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    color: #AAAAAA;
    
    margin-bottom: 2rem;
}


.location-data {
    width: 100%;
    padding: 0 1rem;

    margin-bottom: 2rem;
}

.location-title {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color);

    margin-bottom: 0.73rem;
}

.users-table, .table-header {
    padding:  0 0.6rem 0 1rem;

    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.users-table * {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    color: #3C3C3C;
}

.table-header {
    font-weight: 500;
    background-color: var(--color);
    margin-bottom: 0.73rem;
}
.table-header * {
    font-size: 1rem;
    line-height: 2rem;
    color: #fff;
}

.user-name {
    text-transform: capitalize;
    text-decoration: none;
}
.small-title {
    text-align: center;
    display: none;
}

.users-table .user-name:nth-last-child(odd),
.users-table .user-cost:nth-last-child(even),
.users-table .user-paid:nth-last-child(odd),
.users-table .user-debt:nth-last-child(even),
.users-table .user-weight:nth-last-child(odd) {
    background-color: #8080800f;
}

.total, .total-cost, .total-paid, .total-debt, .total-weight {
    font-weight: 700;
}

.average, .av-cost, .av-paid, .av-debt, .av-weight {
    color: #AAAAAA;
}

.total-cost, .total-paid, .total-debt, .total-weight,
.user-cost, .user-paid, .user-debt, .user-weight,
.av-cost, .av-paid, .av-debt, .av-weight {
    text-align: right;
}








@media (max-width:850px) {
    :root {
        font-size: 14px;
    }
}
@media (max-width:750px) {
    :root {
        font-size: 13px;
    }
}
@media (max-width:660px) {
    :root {
        font-size: 12px;
    }
    .table-header * {
        display: none;
    }
    .small-title {
        display: block;
    }
    .users-table,
    .table-header {
        grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
    }
}


@media (max-width:550px) {
    .chart-title {
        font-size: 1.35rem;
    }
    .column-value {
        word-wrap: break-word;
        top: -3rem;
    }

    .location-data {
        padding: 0;
    }

    .users-table {
        padding: 0 3px;
    }
    .users-table,
    .table-header {
        grid-template-columns: 1.2fr 1fr 1fr 0.5fr;
    }
    .-hide-if-small {
        display: none;
    }

    .total, .total-cost, .total-paid, .total-debt, .total-weight,
    .average, .av-cost, .av-paid, .av-debt, .av-weight {
        font-size: 0.83rem;
    }

    .column-title {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: center;
        bottom: -4rem;
    }
    .title-separator {
        display: none;
    }
}