@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}


/* HEADER */

header {
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: sticky;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: calc(-1 * var(--height));

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* Header media */
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* Chart BOX */

header {
    /* margin-bottom: 3rem; */
}

.chart-box {
    margin: 0 auto 3rem auto;
    width: 95%;
    max-width: 1150px;
}
.chart-box:nth-of-type(1) {
    margin-top: 3rem;
}
.chart-box:nth-last-of-type(1) {
    margin-bottom: 7rem;
}

.chart-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #AAAAAA;

    margin-bottom: 4rem;
}
.chart-title span {
    font-weight: 700;
    color: #161616;
}


.analythicsChart {
    padding: 1.5rem 0;
    
    width: 100%;
    height: 18rem;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
}

.chart-column {
    width: 100%;
    padding: 0 0.6rem 1.33rem 0.6rem;

    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #DADADA;

    position: relative;
}
.chart-column::before {
    content: attr(data-value);
    width: 100%;

    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #000000;
   
    position: absolute;
    top: -2rem; 
    left: 0;
}
.chart-column::after {
    content: attr(data-key);

    margin-top: 1rem;
    width: 100%;
    /* min-width: 75px; */
   
    font-weight: 600;
    font-size: 0.73rem;
    text-align: center;

    color: #000000;

    position: absolute;
    top: 100%; 
    left: 0;
}
.chart-column[data-value='0']::before {
    top: -1.5em;
    color: #DADADA;
}

.chart-sub-column {
    width: 100%;
    height: var(--h);
    min-height: 1rem;
    
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    
    color: #FFFFFF;
    background-color: var(--c);

    display: flex;
    align-items: center;
    justify-content: center;
}
.chart-sub-column:nth-child(1) {
    /* border-radius: 3px 3px 0 0;  works wrong if el. qty is 1 */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.chart-sub-column:nth-last-child(1) {
    /* border-radius: 0px 0px 3px 3px;  works wrong if el. qty is 1 */
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}



@media (max-width: 900px) {
    .chart-column:nth-child(1),
    .chart-column:nth-child(2),
    .chart-column:nth-child(3),
    .chart-column:nth-child(4) {
        display: none;
    }
}
@media (max-width: 700px) {
    .chart-column:nth-child(5),
    .chart-column:nth-child(6),
    .chart-column:nth-child(7) {
        display: none;
    }
}
@media (max-width: 500px) {
    .chart-column:nth-child(8) {
        display: none;
    }
}
@media (max-width: 400px) {
    .chart-column:nth-child(9) {
        display: none;
    }
}