/* @GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

:root {
    --max-width: 80%;
}

/* @HEADER */
header, .dummy-header {
    padding: 0.93rem 1.33rem;
    width: 100%;
}
header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    background: #0F1C2F;
    
    position: fixed;
    top: 0;
}

.left-box, .right-box {
    width: calc((100% - var(--max-width)) / 2);
}
.center-box {
    width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-box {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
}
.left-box span {
    margin-left: 0.87rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: uppercase;

    color: #FFFFFF;
}
.right-box {
    display: flex;
    align-items: center;
    justify-content: right;
}
.right-box button{
    border: none;
    outline: none;
    display: flex;
    background-color: transparent;
}

.welcome-text, .welcome-header {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #657389;
}
.welcome-header {
    font-weight: 600;
    color: #fff;
}

.btn-ico {
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn-ico:hover {
    fill: #fff;
}

.-sign-out {
    width: 25px;
    height: 21px;
    fill: #657389;
}


/* profile-box */
.profile-box {
    margin: 0 auto;
    width: var(--max-width);
}

/* title-box */
.title-box {
    margin: 4rem 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone-box {
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
}
.phone-box svg {
    margin-right: 0.83rem;
}
.main-text,
.main-bold,
.main-phone {
    font-weight: 500;
    font-size: 1.53rem;
    line-height: 1.87rem;

    color: #151515;
}
.main-bold {
    font-weight: 700;
}
.main-phone, .main-phone-ico {
    color: #AAAAAA;
    transition: all 0.2s linear;
}
.phone-box:hover .main-phone {
    color: #151515;
}
.phone-box:hover .main-phone-ico {
    fill: #151515;
    transform: translateX(-2px);
}


/* forms-box */
.forms-box {
    padding: 1.67rem;
    margin: 0 -1.67rem 4rem -1.67rem;

    background-color: #EEF2ED;
    border-radius: 1.33rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.small-block-title {
    max-width: 6rem;

    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.07rem;

    color: #151515;
}
.forms-box a {
    padding: 1.07rem 1.93rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration: none;

    border-radius: 0.67rem;
}
.form-done {
    background-color: #56C413;
    color: #fff;
}
.form-todo {
    background-color: #fff;
    color: #151515;
}
.form-not-done {
    background-color: #EEF2ED;
    color: #151515;

    border: 1px solid #AAAAAA;
    cursor: not-allowed;
}


/* profile-info-box */
.profile-info-box {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 4rem;
}
.profile-info-left {
    width: 45%;
    min-height: 4rem;
}
.profile-info-right {
    width: 50%;
    min-height: 4rem;
}

.-margin-right-big {
    margin-right: 1.8rem;
    min-width: unset !important;
}
.-flex-right {
    display: flex;
    justify-content: right;
}
.right-position-block {
    width: fit-content;
    text-align: left;
}

.-top-border {
    border-top: 2px solid #C4C4C4;
}
.-bottom-box {
    display: flex;
    align-items: flex-end;
}
.-right {
    justify-content: end;
}

.block-title {
    font-weight: 700;
    font-size: 1.53rem;
    line-height: 1.87rem;

    color: #151515;
    margin-bottom: 2.4rem;
}
.-high-red {
    color: #EF5050;
}

.bolt-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;
    text-align: justify;

    color: #151515;
}

.block-key, .block-value {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;

    color: #828282;
}
.block-key {
    display: inline-flex;
    min-width: 10rem;
}
.block-value {
    font-weight: 700;
    color: #151515;
}
.-btn {
    margin: 2px 5px;
    padding: 5px 15px;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;

    border: none;
    outline: none;

    color: #657389;

    background: #0F1C2F;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.2s linear;
}
.-btn:hover {
    color: #fff;
}

.-warning, .-error {
    color: #EF5050 !important;
}
.-caution, .-issue {
    color: #bfbf04 !important;
}
.-medium, .-info {
    color: #4377B5 !important;
}
.-trusted {
    color: #53b914 !important;
}

.change-password-box {
    margin: 1.8rem 0;
}
.block-link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;

    text-decoration-line: underline;

    color: #4377B5;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.update-form {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    background: #EEF2ED;
    border-radius: 1rem;
}
.show-password {
    display: inline-flex;
    align-items: center;

    font-size: 0.83rem;
    color: #657389;
}
.show-password input {
    margin-right: 0.5rem;
}

.-big-data {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-decoration: underline;
}


/* 
    Attendance Info
    Scoring Info
    Appointments
    Skills tests
*/
.attendance-info,
.scoring-info,
.appointments-info,
.skills-info {
    margin-top: 3.67rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.clocks-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1.8rem;
}
.scoring-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.skills-test-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.-header,
.-scoring-header,
.-skills-test-header {
    padding: 0.3rem 1rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.53rem;

    color: #3C3C3C;
    margin-bottom: 1rem;
}

.-header {
    background-color: #FFF2C3;
}
.-scoring-header,
.-skills-test-header {
    background-color: #E8E8E8;
}

.clocks-table-cell,
.scoring-table-cell,
.skills-test-table-cell {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;

    color: #3C3C3C;
}

.clocks-table-cell + .-first-col,
.skills-test-table-cell + .-first-col {
    margin-left: 1.2rem;
    text-align: left;
}
.scoring-table-cell + .-first-col {
    margin-left: 1.2rem;
    text-decoration: underline;
    color: #4377B5;
    text-align: left;
}

.-info1 {
    font-weight: 500;
    font-size: 0.67rem;
    line-height: 0.8rem;
    text-align: justify;

    color: #828282;
    margin-bottom: 4rem;
}

.-passed {
    color: #A2D092;
    text-transform: capitalize;
}
.-failed {
    color: #F27878;
    text-transform: capitalize;
}


/* FOOTER */
footer {
    margin-top: 10rem;
    padding: 0.93rem 1.33rem;
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    background: #0F1C2F;
}
.footer-left {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #657389;
}
.footer-center {
    width: calc(var(--max-width) * 0.6);

    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.footer-item {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;

    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}
.footer-right span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #657389;
}
.footer-right a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;

    text-transform: uppercase;

    color: #FFFFFF;
}


.-show-if-450, .-hidden {
    display: none;
}


@media (max-width: 1300px) {
    :root {
        --max-width: 85%;
        font-size: 14px;
    }
}
@media (max-width: 1145px) {
    :root {
        --max-width: 90%;
        font-size: 13px;
    }
    header .left-box span {
        display: none;
    }
}
@media (max-width: 1000px) {
    .forms-box {
        flex-direction: column;
    }
    .small-block-title {
        max-width: none;
        font-size: 0.87rem;
        line-height: 1.07rem;
        text-transform: uppercase;

        color: #151515;
        margin-bottom: 1.4rem;
    }
    .forms-box a {
        min-width: 22.67rem;
        text-align: center;
        margin-bottom: 0.87rem;
    }
}
@media (max-width: 865px) {
    .profile-info-box {
        flex-direction: column;
    }
    .profile-info-left,
    .profile-info-right {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .scoring-table {
        grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    }
}
@media (max-width: 755px) {
    :root {
        font-size: 15px;
    }
    .html, body {
        overflow-x: hidden;
    }
    .center-box {
        width: calc(var(--max-width) * 0.85);
    }
    .title-box {
        flex-direction: column;
    }
    .main-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-bold {
        margin-bottom: 1.8rem;
    }
    .forms-box {
        margin: 0 -3rem 3rem -3rem;
        border-radius: unset;
    }
    .profile-info-left,
    .profile-info-right {
        width: 100%;
    }
    .profile-info-left + .-top-border {
        border: none;        
    }

    .profile-info-left {
        min-height: unset;
    }
    .profile-info-left .block-title {
        margin-bottom: 1rem;
    }
    .right-position-block {
        width: 100%;
    }
    .right-position-block * {
        font-size: 0.8rem;
        line-height: 1.53rem;
    }

    .clocks-table-cell,
    .scoring-table-cell,
    .skills-test-table-cell {
        font-size: 0.83rem;
    }
    .scoring-table {
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    }
    .-hide-if-700 {
        display: none;
    }
}

@media (max-width: 450px) {
    .welcome-prompt {
        display: flex;
        flex-direction: column;
    }

    .scoring-table {
        grid-template-columns: 1fr 0.5fr 0.5fr;
    }
    .-hide-if-450 {
        display: none;
    }
    .-show-if-450 {
        display: block;
    }

    .skills-test-table {
        grid-template-columns: 1fr 1fr 0.5fr;
    }

    footer {
        margin-top: 6.5rem;
        display: flex;
        flex-direction: column;
    }
    .footer-center {
        margin: 2rem 0;
        width: var(--max-width);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}