/* @GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;500;600;700&family=WindSong:wght@400;500&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    color: #2d393e;
}

ol {
    list-style-position: inside;
}
li {
    padding: 0.3rem 0;
    text-align: justify;
}


/* LETTER */
.-hidden-sprite {
    display: none;
}

.letter {
    width: 1080px;
    margin: 0 auto;

    background-color: #fed63d0f;
    padding: 1.5% 0;

    border-radius: 15px;

    display: block;
    position: relative;
}

.page-box {
    width: 980px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.page-box::after {
    content: "";
    
    background-image: url('/static/images/2-WB.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    opacity: 0.125;
}


.header {
    width: 100%;
}

.header-line1 {
    font-weight: 700;
    font-size: 0.8rem;
    text-align: right;
    text-transform: uppercase;
}
.header-line2 {
    font-size: 0.8rem;
    text-align: right;
}

.form-title {
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;

    border-bottom: 2px solid #2d393e;
    margin-bottom: 1rem;
}

.form-note {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: justify;

    margin-bottom: 1.2rem;
}

.main-box {
    width: 90%;
    margin: 0 auto 1.2rem auto;
    display: block;
}
.main-box-title, .section-title, .section-title-hgh {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    text-transform: capitalize;
    
    margin-bottom: 0.6rem;
}
.section-title-hgh {
    color: #ff7f1a;
}
.appl-full-name, .appl-address {
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    text-align: right;
    text-transform: uppercase;
}
.appl-address {
    font-weight: 500;
    font-style: italic;
}

.section-box {
    width: 100%;
    margin-bottom: 2rem;
}

.section-flex {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.35rem;
}

.section-fields {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap;
}
.section-fields-2 {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-fields-3 {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section-fields-4 {
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.-fields-left {
    justify-content: left;
}
.-fields-right {
    justify-content: right;
}
.-fields-side-by-side {
    justify-content: space-between;
}
.-fields-center {
    justify-content: center;
    text-align: center;
}
.-box80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.-box90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.section-note {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: justify;

    margin-bottom: 0.5rem;
}

.field-box {
    display: inline-flex;
    align-items: center;
}
.field-title, .field-value {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: capitalize;

    padding: 0.35rem;
}
.field-value {
    min-width: 100px;

    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 1px solid #2d393e;
}

.field-signature {
    min-width: 200px;
    font-family: 'WindSong', cursive;
    font-size: 3rem;
    position: relative;
}
.field-signature::after {
    content: "";

    position: absolute;
    inset: 0;
    
    bottom: 1.07rem;
    border-bottom: 1px solid #2d393e;
}


.check-mark {
    width: 1.5rem;
    height: 1.5rem;
}
#unchecked {
    fill: #2d393ecc;
}
#checked {
    fill: #2d393e;
}

.pro-descr {
    font-weight: 400;
    font-size: 0.87rem;

    display: flex;
    align-items: center;
    justify-content: left;

    color: #6a6a6a;
}

/* TABLE */
table {
    width: 80%;
    margin: 0.5rem auto;

    text-align: center;

    border: 2px solid #2d393e;
    border-radius: .5rem;
}
th,td {
    width: 50%;
    padding: 5px 0;
    margin: 0;

    border-bottom: 1px solid #2d393e;
}
th {
    background-color: #2d393e15;
}
td:nth-child(2) {
    color: #ff7f1a;
}
.-no-border {
    border: none;
}

.-ml {
    margin-left: 3rem;
}

