@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
    --max-content-width: 1175px;

    --hgh-col1: #36304a;
}


/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}


body, html {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}

.clocks-box {
    margin: 0 auto;

    width: 95%;
    max-width: var(--max-content-width);

}

nav {
    margin: 2rem 0;
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.nav-box-left {
    width: 50%;
}
.nav-box-right {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.nav-box-right * {
    margin-bottom: 0.8rem;
}

.clocks-box h1 {
    font-weight: 700;
    font-size: 1.53rem;
    text-transform: uppercase;
    color: #151515;

    margin-bottom: 1.27rem;
}
.clocks-box h1 > span {
    font-weight: 500;
    font-size: 1.53rem;
    text-transform: capitalize;
    color: #151515;
}

.student-info-item .title {
    display: inline-flex;
    min-width: 9rem;

    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #AAAAAA;
}
.student-info-item .value {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #000000;
}

#TTT {
    font-weight: 700;
}

.-btn {
    width: 10rem;
    height: 3.33rem;

    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2.4rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 1rem;
    color: #151515;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.2s linear;
}

.-btn:hover {
    background-color: #F3F3F3;
}


/* CLOCKS TABLE */
header {
    position: sticky;
    top: 0;

    z-index: 10;
}

.clocks-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr) repeat(3, 0.5fr);

    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}
.clocks-table:nth-last-child(1) {
    margin-bottom: 4rem;
}

.clocks-table *:not(.clock-title) {
    padding: 0.6rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 0.87rem;
    color: #151515;
    text-align: center;
    
    border-bottom: 1px solid #E8E8E8 !important;
    cursor: pointer;

    transition: all 0.2s linear;
}


.clock-title {
    padding: 0.5rem 0;
    
    font-size: 1rem;
    text-align: center;
    color: white;

    background-color: var(--hgh-col1) !important;
}

.clocks-table input {
    background-color: transparent;
    border: none;
    outline: transparent;
}

.clocks-table input:hover,
.clocks-table input:focus {
    border-bottom: 1px solid #3789EB;
}

[name='duration'] {
    cursor: default !important;
}

.-undo, .-del, .-add {
    width: 100%;
    min-height: 2.67rem;

    text-decoration: underline;
    color: #4377B5 !important;
    
    cursor: pointer;
    transition: all 0.2s linear;
}
.-undo:hover, .-del:hover, .-add:hover {
    color: #4e94e9 !important;
}


.back-to-profile {
    font-size: 0.87rem;
    line-height: 2.67rem;

    text-decoration: underline;
    color: #4377B5 !important;
}


.-no-clockOUT {
    font-weight: 700 !important;
    color: #EF5050 !important;
}


.-correctDuration {
    color: #64cf40;
}
.-incorrectDuration {
    color: #EF5050;
}


@media print {
    :root {
        font-size: 13px;
    }
    .nav-box-left {
        width: 100%;
    }
    .nav-box-right {
        display: none;
    }
    .-hide-when-print,
    .back-to-profile {
        display: none !important;
    }
    .clocks-table {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 800px) {
    nav {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .nav-box-left {
        width: 95%;
        padding-left: 1rem;
        margin-bottom: 2rem;
    }
    .nav-box-left h1 {
        text-align: center;
    }
    .nav-box-right {
        width: 95%;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 550px) {
    :root {
        font-size: 14px;
    }
    .clocks-table {
        grid-template-columns: 1.5fr repeat(3, 1fr) repeat(3, 0.5fr);
    }
}

@media (max-width: 450px) {
    .-hide-when-print {
        display: none !important;
    }
    .clocks-table {
        grid-template-columns: repeat(4, 1fr);
    }
}