@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

:root {
    --header-height: 4rem;
    --max-content-width: 1175px;

    --color-calm: #3789EB;
    --color-hover: orange;
}


.-trusted {
    color: lightgreen;
}
.-unsafe {
    color: lightcoral;
}


/* HEADER */

header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;

    position: sticky;
    top: 0;

    z-index: 10;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side,
.nav-right-side {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

.nav-left-side {
    justify-content: flex-start;
}

.header-nav-item {
    margin: 0 1.5rem;
    height: 100%;

    display: inline-flex;
    align-items: center;

    text-decoration: none;
    position: relative;
}


.active-item::after {
    content: "";
    --height: 5px;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}


.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}


/* Header media */
@media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
}
@media (max-width: 800px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .item-home {
        display: none;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}


/* Main BOX */

.main-box {
    margin: 0 auto 4rem auto;

    width: 100%;
    max-width: var(--max-content-width);
}

/* TOP Header, student info */
.student-top-info-box {
    margin: 3.5rem 0;
    width: 100%;
}

.student-full-name {
    font-weight: 700;
    font-size: 1.53rem;
    line-height: 1.87rem;
    color: #151515;
}

.student-top-inner-box {
    margin: 1.2rem 0;
}

.student-top-info-title {
    margin-right: 1.67rem;
    min-width: 6.67rem;
    
    display: inline-block;

    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #AAAAAA;
}

.student-top-info-value {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.53rem;
    color: #000000;
    text-transform: capitalize;
}

.toolbar-box {
    display: flex;
}
.toolbar-btn {
    width: 3.33rem;
    height: 3.33rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2.4rem;

    margin-right: 0.73rem;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.toolbar-btn:not(.-delete):hover {
    background-color: #F3F3F3;
}
.toolbar-btn.-delete:hover {
    border: 1px solid #EF5050;
    background-color: #EF5050;
}
.toolbar-btn.-delete:hover svg {
    fill: #fff;
}
.toolbar-btn svg {
    fill: #AAAAAA;
}

/* is used for highlight toolbar buttons */
.-toolbar-btn-move {
    margin-right: 1.53rem;
}


/* NAVBAR */
.nav-menu {
    width: 100%;
   
    position: sticky;
    top: var(--header-height);
    
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    
    background-color: #fff;

    margin-bottom: 2rem;
    z-index: 10;
}

.block-title,
.rest-empty-box {
    height: 2.33rem;
    border-bottom: 2px solid #DADADA;
}
.block-title {
    width: 8.47rem;
    min-width: 8.47rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 0.87rem;
    color: #000000;

    transition: all 0.25s linear;
    cursor: pointer;
}
.rest-empty-box {
    width: 100%;
}

.block-title:hover:not(.-nav-item-active) {
    border-bottom: 2px solid #3789EB;
}
.-nav-item-active {
    color: #fff;
    background-color: #3789EB;
}


/* TOGGLER BODY */
.block-box {
    width: 100%;
}
.block-box-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.87rem;
    row-gap: 2.33rem;
}

.block-box-left,
.block-box-right {
    width: 100%;
}

.row-item {
    width: 100%;
    height: 2.6rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #DADADA;
}
.row-item:nth-last-child(1) {
    border: none;
}

details.row-item,
.-stretch {
    height: auto;
    min-height: 2.6rem;
}

.-no-borders {
    border: none !important;
}

.fields-set {
    display: flex;
    align-items: center;
}

.field-title, .field-value {
    display: inline-flex;

    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2.67rem;
    text-transform: capitalize;
}
.field-title {
    margin-right: 0.5rem;
    min-width: 10.5rem;
    color: #AAAAAA;
}
.field-value {
    color: #000000;
}

.show-edit-btn {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2.67rem;
    text-decoration: underline;
    color: #4377B5;

    cursor: pointer;
}

.edit-set {
    padding: 4px 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}
.edit-set .show-edit-btn {
    margin-right: 0.73rem;
}

.input-box {
    margin-right: 0.73rem;
    padding-left: 0.6rem;

    width: 100%;
    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    font-weight: 500;
    font-size: 0.87rem;
    color: #000000;
    
    background-color: #FFFFFF;
    border: 2px solid #3789EB;
    border-radius: 5px;

    outline: unset;
}

.field-link {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2.67rem;

    text-transform: lowercase;
    text-decoration: none;
    
    color: #4377B5 !important;

    cursor: pointer;
}
.field-info,
.field-info1,
.field-info2,
.field-warning {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2.67rem;
 
    color: #AAAAAA;
}
.field-info1 {
    color: #151515;
}
.field-info2 {
    color: #4377B5 !important;
}

.field-warning, .-unsafe {
    color: #EF5050 !important;
}
.email-unsafe {
    margin-left: 0.73rem;

    width: 1.33rem;
    height: 1.33rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 1rem;
    color: #fff;

    background-color: #EF5050;
    border-radius: 100%;
}

.row-buttons, .row-buttons-center {
    margin-top: 1.25rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.row-buttons-center {
    justify-content: center;
}

.-btn {
    margin-left: 0.73rem;

    width: 10rem;
    height: 3.33rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 1rem;
    color: #151515;
    text-decoration: none;

    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2.4rem;

    transition: all 0.2s linear;
    cursor: pointer;
}
.-btn:hover {
    background-color: #F3F3F3;
}

.button-link {
    font-weight: 500;
    font-size: 0.87rem;
    text-align: right;
    text-decoration: underline;

    background-color: transparent !important;
    border: none;

    color: #4377B5 !important;
    cursor: pointer;
}


/* Summary Details */

details {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.row-item summary {
    background-color: rgba(51, 51, 51, 0.075);
    
    padding: 5px;
    border-radius: 3px;

    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2rem;
    
    color: #4377B5;
    cursor: pointer;
}

.field-subheader-red,
.field-subheader-black {
    margin-top: 1rem;

    font-weight: 700;
    font-size: 0.87rem;
    line-height: 2.67rem;
}
.field-subheader-red {
    color: #EF5050;
}
.field-subheader-black {
    color: #000000
}

.column-view {
    display: flex;
    flex-direction: column;
}
.column-view * {
    font-size: 0.87rem;
    line-height: 1.67rem;
}


/* BALANCE */
.row-balance {
    margin: 1.87rem 0;
    padding: 0 1rem;

    width: 100%;
    min-height: 2.67rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 3px;
}

.balance-zero {
    background-color: #A2D092 !important;
}
.balance-student-owe {
    background-color: #EF5050 !important;
}
.balance-company-owe {
    background-color: #f3da6e !important;
}

.balance-title {
    font-weight: 700;
    font-size: 1.53rem;
    text-transform: uppercase;

    color: #FFFFFF;
}
.balance-value {
    font-weight: 500;
    font-size: 1.53rem;

    color: #FFFFFF;
}


/* Payments Details */
:root {
    --pmt-height: 2.67rem;
}
.payment-table {
    display: grid;
    grid-template-columns: 1fr 0.35fr 1.2fr 1fr 3fr 0.35fr;
}
.payment-table div {
    width: 100%;
    max-height: var(--pmt-height);
    overflow-y: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-table input,
.payment-table select {
    padding: 5px 3px;
    
    height: var(--pmt-height);

    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;

    outline: none;

    border: none;
    border-top: 1px solid #dedede;
}

.payment-table input:focus,
.payment-table select:focus {
    background-color: #eff6fd;
}

[name="payment-ico"] {
    border-top: 1px solid #dedede;
}
[name="paymentDate"][data-was=""] {
    color: #AAAAAA;
}

.pmt-ico {
    margin: auto;
    width: var(--pmt-height);
    max-width: 2rem;
}

.-fa-money-bill {
    fill: #8ed376;
}
.-fa-card {
    fill: #EF5050;
}
.-fa-check-bill {
    fill: #3789ebc7;
}
.-fa-check1-bill {
    fill: #e3e3e3;
}
.-fa-paypal {
    fill: #002f86;
}
.-fa-wu {
    fill: #cbb408;
}
.-fa-bank {
    fill: #3a77b773;
}
.-fa-other {
    fill: #edc800;
}

/* Payments + and - */

.-fa-plus, .-fa-minus {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
}
.-fa-plus {
    background-image: url('/static/images/plus-square-regular.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.-fa-minus {
    background-image: url('/static/images/minus-square-regular.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes fading {
    from {opacity: 1}
    to {opacity: 0}
}
.-fading {
    animation: fading 1.1s linear;
}
.payments-info {
    height: 2rem;
    color: #EF5050;
    transition: all 1s linear;
}


/* agr-pmts-table */
.agr-pmts-table {
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5rem;
}

input[name="paymentAmount"] {
    font-weight: 700;
    padding-left: 1rem;

    position: relative;
}

/* indicates when cost or fee changes */
.parrot {
    font-weight: 600;
    color: #3789eb;
}

/* Agreement signer box */
.agr-signer-box {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.agr-signer-box #signerPassword {
    max-width: 15rem;
    height: 2.67rem;
}
.agr-signer-box #toggler {
    position: relative;
}
.agr-signer-box #toggler::after {
    content: "show";

    font-weight: 500;
    font-size: 0.87rem;
    color: #AAAAAA;

    position: absolute;
    top: -3px;
    left: 1.2rem;
}



/* @Student Data Tab */

/* student-info-table */
.student-info-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
}

.-table-header {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2.67rem;
    color: #AAAAAA;
}

.student-info-table:nth-last-of-type(1) {
    margin-bottom: 3.5rem;
}

.student-info-table *:not(.-table-header),
.learning-table *:not(.-table-header),
.clock-table *:not(.-table-header),
.scoring-table *:not(.-table-header),
.schedule-table *:not(.-table-header),
.graduate-info-table *,
.skills-test-table *:not(.-table-header) {
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 2.67rem;
    color: #000000;

    border-bottom: 1px solid #DADADA;
}

#tuition-details,
#tuition-details,
#clocks-details,
#scoring-details,
#schedule-details {
    width: 100%;
    background-color: #fff;
    margin-bottom: 1.47rem !important;
    border: none;
}

.student-info-table .-left-side-header {
    color: #AAAAAA;
}

.location-input-box {
    width: 100%;
    border-bottom: 1px solid #DADADA;
}
.location-input-box select {
    max-width: 12rem;
    background: transparent;

    border: none !important;
    outline: none;
}


/* Tuition Table */
.learning-table {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 0.5fr;
}

.-cell-center {
    text-align: center;
}
.-cell-right {
    text-align: right;
}
.-cell-done {
    color: #A2D092 !important;
    cursor: pointer;
}
.-cell-not-done {
    color: #DADADA !important;
}


/* Student Clock Details */
.clock-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.-coord {
    color: #4377B5 !important
}
.-no-coord {
    color: #DADADA !important;
}
.-updated-coord {
    color: #AAAAAA !important;
}
.-no-clockout {
    color: #EF5050 !important;
}


/* Student Scoring Details */
.scoring-table {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
}


/* Student Schedule Details */
.schedule-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* Student Data Details */
.skills-test-table {
    display: grid;
    grid-template-columns: 0.5fr 2fr 3fr 1fr 1fr 0.5fr;
}


/* graduate-info-table */
.graduate-info-table {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    margin-bottom: 2.67rem;
}
.graduate-info-table .-left-side-header {
    color: #AAAAAA;
}
#enrollmentStatus {
    width: 100%;
    height: 2rem;

    margin-left: -5px;

    background-color: transparent;
    
    border: 2px solid #fff;
    border-radius: 5px;
    
    outline: none;
    cursor: pointer;
    transition: all 0.2s linear;
}
#enrollmentStatus:hover,
#enrollmentStatus:focus {
    border: 2px solid #3789EB;
}



.-hidden, .-hidden-sprite {
    display: none;
}



@media (max-width: 1250px) {
    :root {
        --max-content-width: 95vw;
    }
    .student-top-info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .block-box-inner {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 850px) {
    :root {
        --max-content-width: 90vw;
        font-size: 13px;
    }
    .graduate-info-table {
        grid-template-columns: 2fr 1fr 1fr;
    }
}
@media (max-width: 650px) {
    input[name="paymentAmount"],
    input[name="paymentNotes"] {
        width: 8rem;
    }
    .payment-table {
        grid-template-columns: 1fr 0.35fr 2fr 1fr 1fr 0.35fr;
    }

    .-hide-if-small {
        display: none;
    }
    
    .learning-table {
        grid-template-columns: 4fr 1fr 1fr 1fr 0.5fr;
    }
    .clock-table {
        grid-template-columns: repeat(4, 1fr);
    }
    .scoring-table {
        grid-template-columns: 2fr 2fr 2fr 1fr;
    }
    .student-info-table {
        grid-template-columns: repeat(3, 1fr);
    }

    .row-balance {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 600px) {
    .nav-menu {
        justify-content:space-evenly;
    }
    .rest-empty-box {
        display: none;
    }
    .block-title {
        width: 100%;
        min-width: unset;
        text-align: center;
    }

    .-time-to-hide {
        display: none;
    }
    .learning-table {
        grid-template-columns: 4fr 1fr 1fr 0.5fr;
    }
    .skills-test-table {
        grid-template-columns: 0.5fr 2fr 3fr 1fr;
    }
}
@media (max-width: 500px) {
    .-to-hide-500 {
        display: none !important;
    }
    .learning-table {
        grid-template-columns: 4fr 1fr 1fr;
    }
    .payment-table {
        grid-template-columns: 1fr 1fr 1fr;
    }
    input[name="paymentAmount"],
    input[name="paymentNotes"] {
        width: 100%;
    }
    .scoring-table {
        grid-template-columns: 2fr 2fr 1fr;
    }
    .schedule-table {
        grid-template-columns: 2fr 2fr 1fr 1.3fr;
    }
}
@media (max-width: 410px) {
    .block-box * {
        white-space: nowrap;
        overflow: hidden;
    }
}