@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

:root {
    --max-content-width: 1650px;
    --filter-accent: #43a84366;
}


/* NAV BAR */
nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}


/* HEADER */
.header-top {
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0F1C2F;
}

.header-left-item {
    padding: 0 1.33rem;
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    transition: all 0.2s linear;
}
.header-left-item:hover {
    background-color: #060E18;
}

.bolt-home {
    width: 15px;
    height: 35px;

    margin-right: 0.87rem;
}
.item-home {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-center-item {
    padding: 0 2.53rem;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side {
    width: 50%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.2s linear;
}
.nav-right-side {
    width: 50%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s linear;
}

.header-nav-item {
    margin: 0 1.5rem;

    display: inline-flex;
    align-items: center;

    text-decoration: none;

    position: relative;
}

.active-item {
    --height: 5px;

    position: absolute;
    bottom: calc(-2rem + var(--height));

    width: 100%;
    height: var(--height);
    background-color: #3789EB;

    z-index: 10;
}

.header-nav-item svg {
    min-width: 25px;
    margin-right: 0.67rem;
    fill: #657389;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-nav-item:hover svg {
    fill: #fff;
}

.header-nav-item span {
    font-weight: 500;
    font-size: 1rem;
    color: #657389;

    transition: all 0.25s linear;
    cursor: pointer;
}
.header-nav-item:hover span {
    color: #fff;
}

.nav-right-side .admin-name {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}
.nav-right-side .admin-separator {
    margin: 0 0.7rem;
    font-size: 1rem;
    color: #657389;
}
.nav-right-side .admin-email {
    font-size: 1rem;
    color: #657389;
}

.header-right-item {
    margin-right: 1.2rem;
}
.header-right-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.header-right-item svg {
    fill: #657389;
    transition: all 0.2s linear;
}
.header-right-item svg:hover {
    fill: #fff;
}

/* searchbar */
.nickname-search-box {
    width: 100%;
    max-width: 20rem;
    height: 100%;

    background-color: #060E18;
    position: relative;

    margin-right: 2rem;
}
.nickname-search-box svg {
    fill: #647389;

    position: absolute;
    top: 50%;
    left: 5px;
    
    transform: translateY(-50%);
    transition: all 0.2s linear;
    
    cursor: pointer;
}
.nickname-search-box svg:hover {
    fill: #fff;
}

.nickname-search {
    padding: 0 2rem;

    width: 100%;
    height: 100%;
    
    color: #fff;
    background-color: transparent;

    border: none;
    outline: none;

}
.nickname-search::placeholder {
    color: #647389;
}


/* Header media */
/* @media (max-width: 950px) {
    .admin-separator, .admin-email {
        display: none;
    }
} */
@media (max-width: 985px) {
    .header-nav-item span {
        display: none;
    }
    .header-nav-item svg {
        margin: 0 auto;
    }
}
@media (max-width: 650px) {
    .item-home,
    .admin-email,
    .admin-separator {
        display: none;
    }

}
@media (max-width: 550px) {
    .header-left-item {
        padding-right: 0;
    }
    .bolt-home {
        margin-right: 0;
    }
    .nav-left-side {
        justify-content: space-around;
    }
    .nav-left-side,
    .nav-right-side {
        width: 50%;
    }
    .header-center-item {
        padding: 0 0.5rem;
    }
    .header-nav-item {
        margin: 0;
    }
}



/* text info in header */

.nav-info {
    padding: 1rem 0;
    width: 100%;

    font-weight: 700;
    font-size: 1.53rem;
    text-transform: uppercase;
    text-align: center;
    color: #151515;

    background-color: #fff;
}
.nav-info span {
    font-weight: 500;
    font-size: 1.53rem;
    text-transform: none;

    color: #151515;
}


header {
    width: 100%;
    height: 3rem;

    display: flex;
    align-items: center;

    background-color: #E8E8E8;
}
#schema-headers-users {
    width: 95%;
    max-width: var(--max-content-width);
    margin: 0 auto;
}
#schema-headers-users > div,
#schema-headers-users > div span {
    font-weight: 500;
    font-size: 0.87rem;
    text-transform: capitalize;

    color: #3C3C3C;
}
#schema-headers-users .schema-col-lastSESS {
    justify-content: center !important;
}


/* BODY */

.schema-users {
    margin: 0 auto 5rem auto;
    width: 95%;
    max-width: var(--max-content-width);
}
.schema-row {
    padding: 4px 0;
    
    width: 100%;
    min-height: 2.4rem;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #E8E8E8;
}

.-visible {
    background-color: var(--filter-accent) !important;
    border-bottom: 1px solid var(--filter-accent);
}

.schema-col-index {
    width: 6%;
    min-width: 50px;

    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    color: #3C3C3C;
}

.schema-col-name {
    width: 22%;
    min-width: 14.67rem;

    font-weight: 500;
    font-size: 1rem;
    text-align: left;
}
.schema-users .schema-col-name {
    text-decoration: underline;
    color: #4377B5;
    
    position: relative;
    z-index: 0;
}
.schema-col-name[data-location="false"] {
    color: #b6cae2;
}
.schema-col-name[data-location="false"]::before {
    content: "";

    position: absolute;
    top: 0;
    left: -0.7rem;
    width: 5px;
    height: 5px;

    background-color: #F27878;
    border-radius: 100%;

    z-index: 1;
}

.schema-col-email {
    width: 22%;
    min-width: 14.67rem;

    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: left;
    
    color: #151515;
}


.schema-col-token,
.schema-col-created {
    width: 9%;
    min-width: 6rem;

    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;

    color: #151515;
    cursor: default;
}

/* Token's states */
.token-not-sent {
    color: #aaaaaa;
}
.token-verified {
    color: #A2D092;
}
.token-not-confirmed {
    color: #F27878;
}


.schema-col-lastSESS {
    width: 10%;
    min-width: 8.67rem;

    display: flex;
    justify-content: space-between;
}

.schema-col-lastSESS .last-date {
    font-weight: 500;
    font-size: 0.8rem;
    color: #151515;
}
.schema-col-lastSESS .last-time {
    font-weight: 500;
    font-size: 0.8rem;
    color: #647389;
}

.schema-col-dataCollection,
.schema-col-application,
.schema-col-agreement,
.schema-col-student {
    width: 7%;
    min-width: 1.67rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}


.-ico {
    width: 20px;
    height: 20px;
}
#check {
    fill: #A2D092;
}
#uncheck {
    fill: #F27878;
}

@keyframes moveback {
    0% { 
        opacity: 0.3;
    }
    25% { 
        transform: translateX(-5px);
    }
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}
.-hightight-update-row {
    animation: moveback 1s linear;
}


.-hidden,
.nav-item-small {
    display: none;
}



@media (max-width: 1285px) {
    .schema-col-lastSESS {
        display: none;
    }
    .schema-col-dataCollection,
    .schema-col-application,
    .schema-col-agreement,
    .schema-col-student {
        width: 9%;
    }
    .nickname-search-box {
        max-width: 18.5rem;
    }
}
@media (max-width: 1125px) {
    .active-item {
        bottom: calc(-1.4rem + var(--height));
    }
}
@media (max-width: 1100px) {
    .nav-info,
    .nav-info span {
        font-size: 1.2rem;
    }
    .schema-col-created {
        display: none;
    }

    .schema-col-dataCollection,
    .schema-col-application,
    .schema-col-agreement,
    .schema-col-student {
        width: 10%;
    }
}
@media (max-width: 980px) {
    .active-item {
        bottom: calc(-2rem - 1px + var(--height));
    }
    .nav-item-text {
        display: none;
    }
    .nav-item-small {
        font-weight: 600;
        font-size: 0.87rem;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #A7A7A7 !important;
    }
}
@media (max-width: 865px) {
    .nav-info,
    .nav-info span {
        font-size: 0.93rem;
    }
}
@media (max-width: 800px) {
    .schema-col-email,
    .schema-col-token {
        display: none;
    }
    .schema-col-index {
        width: 8%;
    }
    .schema-col-name {
        width: 45%;
    }
    .schema-col-dataCollection,
    .schema-col-application,
    .schema-col-agreement,
    .schema-col-student {
        width: 12%;
    }
    .nickname-search {
        display: none;
    }
}
@media (max-width: 650px) {
    .nav-info {
        padding: 0.65rem 0.3rem;
    }
}
@media (max-width: 450px) {
    .nav-info {
        padding: 0.65rem 0.3rem;
    }
    .schema-col-name {
        min-width: 14rem;
    }
}
@media (max-width: 400px) {
    .schema-col-name {
        min-width: 13rem;
    }
}