/* @GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@500;600;700&family=WindSong:wght@400;500&display=swap');

:root {
    accent-color : #696;
}

html, body {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

label {
    padding: .3rem 0;

    text-transform: capitalize;
    color: #2d393e;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.applicant-form {
    width: 90%;
    max-width: 980px;

    margin: 0 auto;

    background-color: #2d393e1c;
    border-radius: .5rem;
}

.form-title {
    padding: 2rem 0;

    font-size: 3rem;
    color: rgba(34, 60, 80, 0.7);

    text-align: center;
}

.form-subtitle {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;

    font-size: 1rem;
    line-height: 1.35rem;
    
    color: #767676;
    
    text-align: justify;
    text-align-last: center;

    -webkit-box-shadow: 0px 8px 7px -7px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 8px 7px -7px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 8px 7px -7px rgba(34, 60, 80, 0.6);
}

.form-personal,
.form-address,
.form-additional,
.form-race,
.form-grade,
.form-radio-block, 
.form-block {
    width: 97%;
    margin: 0 auto;
    padding: 0.65rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-block-with-note {
    width: 97%;
    margin: 0 auto;
    padding: 1rem;

    display: block;
}
.-align-bottom {
    align-items:flex-end;
}
.-align-top {
    align-items:flex-start;
}
.-wrap {
    flex-wrap: wrap;
}
.-even {
    justify-content: space-evenly;
}
.-center {
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    color: #41505c;
}
.section-warning {
    text-transform: uppercase;
    text-align: center;

    color: #c49554;
}

/* @ INPUTS */
.input-text {
    width: 17rem;
    padding: .5rem;
    background-color: transparent;

    font-size: 1rem;
    text-transform: capitalize;
    color: rgba(34, 60, 80, 0.8);
    
    border: 1px solid #41505c;
    border-radius: 5px;
}
#email {
    text-transform: lowercase;
}
.input-text[type='date'] {
    text-transform: uppercase;
    cursor: pointer;
}
.input-text[type='text']:hover,
.input-text[type='date']:hover {
    background-color: #b4c2cd;
    transition: background-color .2s ease-in;
}
.input-text:required {
    border: 1px solid #ff7f1a;
}
.input-text:read-only {
    background-color: #b4c2cd;
    color: #242424;
}

.-smaller {
    width: 12rem;
}
.-max-big {
    width: 100%;
}
.-one-row {
    display: inline;
    padding: 5px 0;
}
.-one-row-pillow {
    display: inline;

    padding: 0.5rem 1rem;

    border: 2px solid #ff7f1a;
    border-radius: 2rem;
}
.-hidden {
    display: none
}
.-mt {
    margin-top: 2rem;
}
.-mb {
    margin-bottom: 2rem;
}
.-big {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
 }

.range-box {
    width: 100%;
    display: inline-flex;
    align-items: center;
}
.input-range {
    width: 17rem;
    padding: .5rem;
}
.range-value {
    --col1: #b4c2cd;
    --col2: #669966;

    margin: 0 1rem;

    width: 2.75rem;
    height: 2.75rem;

    font-size: 2rem;
    color: rgba(34, 60, 80, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: -moz-radial-gradient(transparent 35%, var(--col1) 60%, var(--col2) 80%);
    background: -webkit-radial-gradient(transparent 35%, var(--col1) 60%, var(--col2) 80%);
    background: radial-gradient(transparent 35%, var(--col1) 60%, var(--col2) 80%);
}

.textarea-label {
    width: 85%;
    margin: 0.5rem auto 0;
    padding: 0;
}
.more-fields {
    width: 5rem;
    padding: 0.5rem;
    
    font-size: 1rem;
    color: rgba(34, 60, 80, 0.8);

    border: 1px solid rgba(34, 60, 80, 0.8);
    border-radius: 1rem;

    cursor: pointer;
}
.more-fields:last-child {
    border-color: transparent;
    cursor: auto;
}

.more-less-btn {
    width: 5rem;
    padding: 0.5rem;
    margin-bottom: .3rem;
    
    font-size: 1rem;
    color: rgba(34, 60, 80, 0.8);
    background-color: transparent;

    border: 1px solid rgba(34, 60, 80, 0.8);
    border-radius: 1rem;

    cursor: pointer;
}
.-warning {
    color: red;
}

.form-radio-box {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



/* pretty radio */
input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 3px;
}


#otherRaceChoice {
    margin-left: .5rem;
}

.form-box2x4 {
    width: 95%;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-wrap: wrap;
}
.form-section {
    width: 50%;
    padding: .5rem;
}
.form-section>small,
.section-note {
    width: 100%;
    color: #242424;
    font-style: italic;
    text-align: center;
}
.form-section>div {
    width: 50%;
    margin: 1rem ;

    display:flex;
    align-items: center;
    justify-content: space-around;
    
}


.line {
    width: 75%;
    height: 1rem;
    margin: 0 auto;
    -webkit-box-shadow: 0px 8px 7px -7px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 8px 7px -7px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 8px 7px -7px rgba(34, 60, 80, 0.6);
}
.form-button-box {
    width: 65%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.-width20 {
    width: 20%;
}

.-btn {
    width: 200px;
    min-width: 200px;

    padding: 1.2rem 0;
    text-transform: uppercase;

    border-radius: 1rem;
    border: 1px solid #ff7f1a;

    cursor: pointer;
}

.-btn:hover {
    background-color: #ff7d1a2d;
    transition: background-color .3s ease-in;
}

ul {
    --ul-width: 60%;

    width: var(--ul-width);
    margin: 1rem auto;

    font-size: 1rem;
    color: #8b8b8b;
}
ol {
    list-style-position: inside;
}
li {
    padding: 0.3rem 0;
    text-align: justify;
}

.paragraph, .paragraph-hl1 {
    padding: .5rem 0;

    font-size: 1rem;
    line-height: 1.35rem;
    text-align: justify;

    color: #8d8d8d;
}
.paragraph-hl1 {
    color: #727272;
}
.-ml {
    margin-left: 3rem;
}

table {
    width: 80%;
    margin: 0.5rem auto;

    text-align: center;

    border: 2px solid #8d8d8d;
    border-radius: .5rem;
}
th,td {
    width: 50%;
    padding: 5px 0;
    margin: 0;

    border-bottom: 1px solid #a5a5a5;
}
th {
    background-color: #5c5c5c25;
}
td:nth-child(2) {
    color: #df6606;
}
.-no-border {
    border: none;
}

.sign-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 2rem;
    color: #669966;

    margin-bottom: 2rem;
}

#signature1, #signature2 {
    display: none;
}
.signature {
    font-family: 'WindSong', cursive;
    font-weight: 500;
    font-size: 3rem;
    text-align: right;
}
.signature-vibes {
    margin-top: 2rem;    

    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    text-align: right;
}


/* Invalid */
input:invalid {
    background-color: #ff7f1a24;
}


@media (max-width: 1065px) {
    .form-title {
        padding: 2rem 0 1rem 0;
        font-size: 2rem;
    }
    #form1-subtitle {
        margin-bottom: 0.5rem;
        padding: 0 5px 0.5rem 5px;
        font-size: 0.83rem;
        line-height: 1rem;
    }
    #form1-personal, #form1-address, #form1-additional,
    #form2-hdyfu, #form2-referral, #form2-highGrade,
    #Employers .form-block, .sign-box {
        flex-direction: column;
    }
    #form2-referral {
        align-items: center;
    }
    #form1-personal input, #form1-address input, #form1-additional input {
        width: 20rem;
    }
    .-smaller {
        width: 17rem;
    }
    #form1-personal br, #form1-address br, 
    #form1-additional br, #form1-grade br,
    #Employers br  {
        content: "";
    }
    #form1-personal br::after,
    #form1-address br::after,
    #form1-additional br::after,
    #form1-grade br::after,
    #Employers br::after {
        content: " ";
    }

    #form1-race, #form1-hisp-disab-vet-sex, #form1-grade {
        flex-direction: column;
    }
    #form1-race .form-radio-box, #form1-grade .form-radio-box,
    #form2-hdyfu .form-radio-box {
        width: fit-content;
        grid-template-columns: 1fr;
    }
    #form1-hisp-disab-vet-sex .form-section {
        margin: 0 auto;
    }

    .form-button-box {
        width: fit-content;
        flex-direction: column;
        padding: 1rem 0;
    }
    .form-button-box .-btn {
        margin-bottom: 1rem;
    }
}


@media (max-width: 1000px) {
    #form3-programm,
    #form3-pmts .form-block,
    #form3-parents {
        width: 100%;
        flex-direction: column;
    }
    #form3-programm .section-title {
        text-align: center;
    }
    #form3-pmts .form-block {
        align-items: flex-start;
        padding: 0;
    }

    #form3-programm .form-radio-box {
        width: 100%;
        grid-template-columns: 1fr;
    }

    #form3-cancel table {
        width: 100%;
    }

    #form3-parents {
        align-items: center;
    }

    

    #form3-programm br, #form3-parents br {
        content: "";
    }
    #form3-programm br::after, #form3-parents br::after {
        content: " ";
    }
}


@media (max-width: 650px) {
    #form1-hisp-disab-vet-sex .form-section {
        width: 95%;
    }

    #form2-acc-traf-crim {
        padding: 0.3rem 0;
    }
    #form2-acc-traf-crim label {
        width: 95%;
    }
    #Employers .form-block {
        padding: 0;
    }
    ul {
        --ul-width: 90%;
    }
    .-one-row-pillow {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;

        margin-left: auto;
        margin-right: auto;
    }
}